
/**************************
GENERAL
**************************/
html { position: relative; min-height: 100%;}
body {font: 100%/1.4 'Montserrat', Arial,Verdana,sans-serif; padding-bottom: 0;
   margin-bottom: 580px; /* Margin bottom to match footer height */
}

article, aside, figcaption, figure, footer, header, hgroup, main, section {overflow:hidden;}

a, a:active, a:visited {text-decoration: none!important;}	
.container .blog-post a, .container .blog-post a:active, .container .blog-post a:visited {text-decoration: none!important; color:#284863; font-weight: 600; font-size: 15px;}	
.container .blog-post a:hover {color:#269eb2;}

.container .blog-post img { -ms-interpolation-mode: bicubic; border: none; max-width: 100%; height: auto!important; }
.container .blog-post a img { border: none;}

.container .blog-post p {font-size: 17px; font-weight: 500; line-height: 150%;}
.container .blog-post h1 {font-size:28px; color:#00a1bc; font-weight: 600; /*padding-bottom: 10px;*/}
.container .blog-post h2 { color: #3cb0bc; font-weight: 600; font-size: 20px; line-height: 150%; padding: 5px 0 5px 0; margin-top: 30px;}
.container .blog-post h3 { color: #4f4f4f; font-weight: 600; font-size: 17px; line-height: 110%; padding: 10px 0 10px 0; }
.container .blog-post h4 { color: #e58d2e; font-size:17px; line-height: 110%; padding: 15px 0px 8px 0px; font-weight: 600; text-transform:uppercase;}
.container .blog-post h5 { color: #006884; font-weight: 600; font-size: 17px; line-height: 110%; padding: 15px 0 5px 0; }
.container .blog-post hr { border-top: 1px solid #474747;}

.container .blog-post .disclaimer {padding:10px 0;}
.container .blog-post .disclaimer, .container .blog-post .disclaimer p { font-size: 12px!important; color:#8aa6b5!important;}

.container .blog-post ul {padding-left: 15px;}
.container .blog-post ul li { color:#474747; padding-left: 16px; margin-bottom: 10px;font-size: 17px; font-weight: 500; list-style-type: none; line-height: 150%;}
.container .blog-post ul li a {font-size: 17px!important}

.container .blog-post ul li::before {
    content: "\f111";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    left: 45px;
    color: #00a1bc;
    font-size: 9px;
    margin-top: 0px;
    display: inline-block;
    font-weight: 900;
    /*margin-left: 15px;*/
}

.container .blog-post ol li { color:#474747; padding-left: 16px; margin-bottom: 10px; font-size: 17px; font-weight: 500; line-height: 150%;}
.container .blog-post ol li ul {margin-top:10px;}
.container .blog-post ol li ul li {list-style-type:inherit;}
.container .blog-post ol li ul li::before {content:"";}
.container .blog-post ol li p {margin-top:10px;}

.ticks ul li::before {
    content: "\f14a"!important;    
    font-size: 20px!important;
    margin-top: -2px!important;  
	left: 40px!important;
}

.container .blog-post blockquote {
    color: #5ecdd3;
    font-size: 17px;
    font-weight: 700;
    padding: 0;	
	border-left:2px solid #5ecdd3;	
}
	
.container .blog-post blockquote p {
    color: #5ecdd3;
    font-size: 17px;
	padding-left:20px;
    font-weight: 600;
}

.panelMax {max-width: 1920px; margin: auto; width: 100%; /*position: relative;*/}
.blog-post {padding: 40px 20px;}
.blog-main {margin:auto;}
.blog-masthead {padding:0; /*padding: 70px 0 100px 0;*/}
.blog-masthead .container {/*max-width: 1920px;*/}
.blog-sidebar {padding-left:0;}

#contact-form {padding-bottom: 30px;}

.container .blog-post .btn-booking {text-transform:inherit!important; background: #00a1bc !important; padding:7px 20px!important; color:#fff!important; font-size: 17px; font-weight: 600; border: 1px solid #00a1bc !important;-webkit-box-shadow: none!important; box-shadow:none!important; border-radius: 0px!important; width:auto!important; display: inline-block; margin: 20px 0;}
.container .blog-post .btn-booking a {width:auto!important;  color:#fff!important; font-weight: 600!important;}
.container .blog-post .btn-booking:hover {background: #fff!important; color:#00a1bc !important; border: 1px solid #00a1bc !important;}
.container .blog-post .btn-booking:hover > a {color:#00a1bc !important;}

.video {border: 20px solid #dddddd;}
.video iframe {width:100%;}


/**************************
PAGE NOT FOUND
**************************/
.page-not-found .blog-sidebar {text-align: center;}
.page-not-found i {font-size:100px; padding-top:60px;}

/**************************
AFFIX
**************************/
.affix {
    height: 80px!important;
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
    -webkit-transition:padding 0.2s linear;
    -moz-transition:padding 0.2s linear;
    -o-transition:padding 0.2s linear;
    transition:padding 0.2s linear;
}

._affix .navbar-collapse{ top: -35px; }
._affix .navbar-contacts {top:0;}
._affix .navbar-booking {top:0px; padding-bottom: 20px;}
._affix .btn-booking {padding: 5px 40px !important;}
._affix .navbar-toggler {display: block!important; position: absolute; top: 20px; right: 30px; z-index: 100000}

._affix .lasik-guide-progressbar div {top: 80px!important;}
._affix .navbar-expand-lg .navbar-toggler {display:block;}	
	
._affix .navbar-nav {background: rgba(255,255,255,0.95); position: relative; }
._affix .btco-hover-menu a, .navbar > li > a {text-align: center;}	
._affix .mr-auto, .mx-auto {width:100%; right:0;top:0; overflow-y: scroll; height:100vh;}
._affix .navbar-collapse {top: inherit !important; position: fixed; /*width: 100%;*/ top: 81px !important; bottom: 81px; right: 0; border-bottom: 1px solid;bottom: 0; }	
.1affix .mr-auto, .mx-auto {width:100%; right:0;top:0; overflow-y: scroll; height:auto!important;}
.1affix .navbar-collapse {top: inherit !important; position: absolute; /*width: 100%;*/ top: 70px !important; height: 450px; bottom: 81px; right: 0; border-bottom: 1px solid; bottom: 0; width:100%; }
._affix .collapse:not(.show) {display: none!important;}
._affix .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
	background: background: #fff;
    height: 100%;
	/*justify-content: flex-end;
    overflow: hidden;
    height: 450px !important;*/
}
._affix .nav-link {text-align: center;}
._affix .dropdown-menu {display:block!important; text-align: center;position: initial!important; margin-left: 0!important;}
._affix .navbar-logo a {padding:0!important;}
._affix .logo-lg {visibility: hidden; display: none; height:0;}
._affix .logo-sm {visibility: visible; display: block; height:auto;}
._affix .nav-link{ color:#000!important;}
._affix .nav-link:hover{color: #fff!important; background: #ff6903!important;}

.affix .navbar-logo {top: 0px; position: absolute;}
.affix .navbar-logo img{ height: 40px;/* height:auto!important; width: 30%!important; top: 10px!important; */position: relative!important; }
.affix .navbar-top { top: 5px; /*right: 80px;*/ }
.affix .logo-lg {visibility: hidden; display: none; height:0;}
.affix .logo-sm {visibility: visible; display: block; height:auto;}
.affix .navbar-top {top:0;}
.affix .navbar-contacts {top:3px;}
.affix .navbar-collapse {top:56px;}
.affix .btn-booking {padding:0 15px!important; position: relative; top: 8px;}
.affix .navbar-contacts a {font-size:22px;}
.affix .navbar-contacts a i {font-size:18px;}

/**************************
NAVBAR
**************************/
.navbar-custom {height:180px; background-color:#fff!important; padding: 0 30px; 	
	-webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;}

.navbar-top {position:absolute; top:10px; right: 10px; }

.navbar-collapse {/*padding-top: 70px; */ position: absolute; bottom: 30px; right:25px;}

.navbar-contacts .contact-icon{
    margin-right: 20px;
}

.mr-auto, .mx-auto {
    margin-left: auto !important;
    margin-right: inherit !important;
    /*position: relative;*/
    right: 20px;   
}

.navbar-expand-lg .navbar-nav .nav-link {padding-left: 25px; padding-right: 25px;}
.dropdown-menu {margin-left: 15px;}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {color:#ff6903;}

.hamburger {padding:5px 0 0 10px !important;}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {background-color:#ff6903!important; width: 30px!important;}
.hamburger:hover {opacity: 1!important;}

button:focus {outline: none;}

/**************************
VIDEO
**************************/
.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/**************************
NAVBAR - LOGO
**************************/
.navbar-logo {padding: 0; /*position: relative; top: 20px; left: 0;*/}
.logo-sm {visibility: hidden; display: none; height:0;}

/**************************
NAVBAR - BOOKINGS
**************************/
.navbar-booking {padding:0 10px; /*position: relative; display: inline-block; right: 80px; top: 10px; */}

.btn-booking {text-transform: uppercase!important; background: #ff6903!important; padding:10px 15px !important; color:#fff!important; font-size: 20px; font-weight: 600; border: none; width: 100%; border: 1px solid #ff6903!important; -webkit-box-shadow: none!important; box-shadow:none!important; border-radius: 0px!important;}
.btn-booking:hover {background: #fff!important; color:#ff6903!important;}


.navbar-booking-mobile {display:none; visibility: hidden; height: 0; background:#ff6903;}
.btn-booking-mobile { position: absolute; top:3px; left: 40px;  text-transform: uppercase; color:#fff; font-weight: 600; font-size: 18px; padding:2px 40px!important;  border: 2px solid #fff;}
.btn-booking-mobile:hover > a {color:#ff6903; background-color:#fff;}

.navbar-booking-mobile i {color:#fff; font-size: 20px;}
.navbar-booking-mobile .contact-icon {position: absolute; top:0px; right: 70px; }
.navbar-booking-mobile .phone-icon {position: absolute; top:0px; right: 20px;}

/************************************************
NAVBAR - Accessibility
************************************************/
.navbar-resizer {color:#919191; font-size: 16px; float:left; /*padding: 20px 40px 0 0;*/ position: relative; top: 20px; right: 30px;}
.fontsizer-txt {float:left; padding-top: 3px; padding-right: 10px;}
.fontsizer {float:right;}

.fsizer { display: block; width: 100%; float: right; padding: 0; clear: both;} /* Container element */

.fsizer a { /*display: inline-block;*/  width: 25px; margin-left: 5px; text-align: center; border: 1px solid #39526E; color: #fff; text-decoration: none; cursor: pointer; letter-spacing: 0; line-height: 130%; padding: 3px; }
.fsizer a:hover { text-decoration: none; color: #000!important; }

/* Three 'A' links used to control size */
.fsizer a#fs_sml { font-size: 0.75em; color: #999999; background: #fff; /*height: 17px; padding-top: 3px; background-color:#002B54; color:#fff;*/ }
.fsizer a#fs_med { font-size:17px; font-weight: 700;color: #919191; border:none; padding: 0 3px!important; margin: 0!important; /*height: 17px; padding-top: 3px; background-color:#002B54; color:#fff;*/ }
.fsizer a#fs_lrg { font-size: 20px; font-weight: 700; color: #919191; border:none; padding: 0 3px!important; margin: 0!important;/*height: 18px; padding-top: 2px; background-color:#002B54; color:#fff;*/ }
.fsizer a.fsactive { color: #000!important; cursor: default;} /* When mode is active */

/**************************
NAVBAR - CONTACTS
**************************/
.navbar-contacts {position: relative; top: 10px; right: 35px; display: inline-block;}
.navbar-contacts a {color: #ff6903; text-decoration: none; padding:0; font-weight: 600; font-size: 29px;}
.navbar-contacts a:hover {color: #00a1bc;}

.navbar-contacts a i {font-size: 22px; position: relative; top: -2px;}

/**************************
NAVBAR - SHOP
**************************/
.navbar-shop {padding: 0 10px;}
.navbar-shop a {color: #28a745; text-decoration: none; padding:0 5px;}
.navbar-shop a:hover {color: rgba(255,255,255,1);}

/**************************
NAVBAR - MEMBERS
**************************/
.navbar-members {padding: 0 10px;}
.navbar-members a {color: #28a745; text-decoration: none; padding:0 5px;}
.navbar-members a:hover {color: rgba(255,255,255,1);}

/**************************
HOME PAGE
**************************/
.home-intro {width: 100%; background: #fff; padding: 80px 0; text-align: center;}
.home-intro .container {max-width: 1400px;}

.home-intro h2 {font-size:20px; font-weight: 600; text-transform: uppercase; color:#00a1bc; padding-top: 70px;}
.home-intro h1 {font-size:40px; font-weight: 500; color:#00a1bc; padding: 0 0 20px 0; }
.home-intro p {font-size:20px; color:#231f20; padding-bottom: 12px;}

.home-booking {margin:40px 0;}

.img-doctors {display:none; visibility: hidden; height: 0; padding: 0 !important; opacity: 0;  transition: opacity 8s ease;}
.img-doctors .img-doctor1 {width:50%; float:left;}
.img-doctors .img-doctor2 {width:50%; float:right;}
.img-doctors div img {text-align: left; width:100%;}
.img-doctors .img-doctor2 img {float: right;}
.img-doctor img  {max-width: 100%; position: absolute; left:0; bottom: 0;}
.img-doctor-right img {right:0; left:auto;}

.img-doctor {opacity: 0;  transition: opacity 8s ease;}

.is-visible {opacity: 1!important;}

.home-intro-img img {}
.home-intro-txt {color:#474747; text-align: center; font-size:24px; font-weight: 500; padding: 10px 0;}

.home-intro-booking {padding-top: 60px;}
.home-intro-booking .btn-booking {
    background: #00bce4!important;
    padding: 15px 30px !important;
    color: #fff !important;
    border: 1px solid #00bce4!important;   
	width:auto;
	font-size: 30px;
    letter-spacing: 1px;
}
.home-intro-booking .btn-booking:hover {background: #fff!important; color:#00bce4!important; border: 1px solid #00bce4!important;}

.home-intro-num {font-size: 40px; font-weight: 600; color:#474747;}

.home-intro1 {width: 100%; background: #fff; padding: 0; text-align: center; padding-top: 50px;}
.home-intro1 .container {max-width: 100%;}

.home-intro1 h2 {font-size:20px; font-weight: 600; text-transform: uppercase; color:#00a1bc; padding-top: 0px;}
.home-intro1 h1 {font-size:40px; font-weight: 500; color:#231f20; padding: 0 0 20px 0; }
.home-intro1 p {font-size:20px; color:#231f20; padding-bottom: 12px;}
.home-intro1 .img-doctor img  {max-height:80%!important; width:auto!important; max-width:auto!important;}

.home-intro1 .btn-booking {
    background: #00bce4!important;
    padding: 15px 30px !important;
    color: #fff !important;
    border: 1px solid #00bce4!important;   
	width:auto;
	font-size: 30px;
    letter-spacing: 1px;
}
.home-intro1 .home-intro-booking {padding: 0 0 60px 0;}

.home-doctors-mobile {display:none; visibility: hidden; height: 0;}
.home-doctors-mobile img {width:100%;}

/**************************
HOME PAGE - DOCTORS PANEL
**************************/
.home-doctors {width: 100%; background: #fff; padding: 80px 0; text-align: left;}
.home-doctors .container {max-width: 1400px;}
.home-doctors-video img {width:100%;}
.home-doctors-video-txt { background:#DDDDDD; color: #474747; font-size:24px; padding:5px 10px; text-align: center; font-weight: 500;}
.home-doctors h2 {color: #00a1bc; font-weight: 500; font-size:40px; margin: 10px 0 20px 20px;}
.home-doctors p {font-size: 24px; color: #474747; padding-bottom: 12px; font-weight: 500; margin-left:20px;}

/**************************
HOME PAGE - NEWS PANEL
**************************/
.home-news {width: 100%; background: #343a40; padding: 40px 0; text-align: center;}
.home-new-img {padding: 10px 0;}
.home-news h2 {color:#fff;}
.home-news p {color:#fff;}

/**************************
HOME PAGE - PROJECTS PANEL
**************************/
.home-projects {width: 100%; background: #999999; padding: 40px 0; text-align: center;}
.home-projects-img {padding: 10px 0;}
.home-projects h2 {color:#fff;}
.home-projects p {color:#fff;}

/**************************
HOME PAGE - PRODUCTS PANEL
**************************/
.home-products {width: 100%; background: #999999; padding: 40px 0; text-align: center;}
.home-products-img {padding: 10px 0;}
.home-products h2 {color:#fff;}
.home-products p {color:#fff;}

/**************************
HOME PAGE - CTA PANEL
**************************/
.home-panel-cta {text-align: center; margin:auto; padding: 80px 0;
background: rgb(255,105,3);
background: linear-gradient(90deg, rgba(255,105,3,1) 0%, rgba(255,142,6,1) 100%, rgba(255,142,6,1) 100%);
}
.home-panel-cta .container {max-width: 1400px;}
.home-panel-cta-inner {width:70%; text-align: center; margin: auto; padding: 40px 0 60px 0; max-width: 1920px; }

.home-panel-cta .col-lg-4 { padding: 0;}

.btn-cta {margin: 40px 0 0 0; }
.btn-cta a {text-transform: uppercase!important; padding: 15px 30px; color:#fff; font-size: 30px; font-weight: 600; border: 1px solid #fff; display: inline-block; width:100%;}
.btn-cta a:hover {background: #fff; color:#ff6903; border: 1px solid #fff;}
.btn-cta-mobile {display:none; visibility: hidden; height: 0;}

.home-panel-cta-box {padding: 0 20px; overflow: hidden;}
.home-panel-cta-box h2 {color:#fff; font-size:30px; font-weight: 500; padding: 20px 18% 0 18%;}
.home-panel-cta-box img {}

.home-panel-cta-box1 {background-color: #fff; margin: 0 20px; overflow: hidden;}
.home-panel-cta-box1 h2 {color:#304851; font-size:16px; font-weight: 600; text-transform: uppercase; margin-top: 50px;}
.home-panel-cta-box1 h3 {color:#304851; font-size:33px; font-weight: 600; text-transform: uppercase; padding: 0 20px;}
.home-panel-cta-box1 img {width:100%;
	-webkit-animation: zoominout 20s infinite;
	-moz-animation: zoominout 20s infinite;
	-ms-animation: zoominout 20s infinite;
	-o-animation: zoominout 20s infinite;
	animation: zoominout 20s infinite;
}
.home-panel-cta-box-img {overflow:hidden;}
.home-panel-cta-box-txt {position:relative; bottom:0;}

.home-panel-cta-box1 .btn-cta a {color:#304851; border: 1px solid #304851;}
.home-panel-cta-box1 .btn-cta a:hover {background: #304851; color:#fff; border: 1px solid #304851;}

.home-panel-cta-box2 {background-color: #474747; margin: 0 20px; /*overflow: hidden;*/ height:100%;}
.home-panel-cta-box2 h2 {color:#fff; font-size:16px; font-weight: 600; text-transform: uppercase; margin-top: 50px;}
.home-panel-cta-box2 h3 {color:#fff; font-size:33px; font-weight: 600; text-transform: uppercase; padding: 0 20px;}
.home-panel-cta-box2 img {width:100%;
	-webkit-animation: zoominout 20s infinite;
	-moz-animation: zoominout 20s infinite;
	-ms-animation: zoominout 20s infinite;
	-o-animation: zoominout 20s infinite;
	animation: zoominout 20s infinite;}
.home-panel-cta-box2 .btn-cta a:hover {color:#474747;}

.home-panel-cta-box3 {background-color: #00a1bc; margin: 0 20px; overflow: hidden;}
.home-panel-cta-box3 h2 {color:#fff; font-size:16px; font-weight: 600; text-transform: uppercase; margin-top: 50px;}
.home-panel-cta-box3 h3 {color:#fff; font-size:33px; font-weight: 600; text-transform: uppercase; padding: 0 20px;}
.home-panel-cta-box3 img {width:100%;
	-webkit-animation: zoominout 20s infinite;
	-moz-animation: zoominout 20s infinite;
	-ms-animation: zoominout 20s infinite;
	-o-animation: zoominout 20s infinite;
	animation: zoominout 20s infinite;}
.home-panel-cta-box3 .btn-cta a:hover {color:#00a1bc;}

/* Animate - Zoom In & Out */
@keyframes zoominout {
    0% { transform: scale(1);}
    50%   { transform: scale(1.1); }	
	100%   { transform: scale(1); }	
}

/* Animate - Swing */
.1home-panel-cta-box1:hover, .1home-panel-cta-box2:hover, .1home-panel-cta-box3:hover
{
        -webkit-animation: swingPanel 1s ease;
        animation: swingPanel 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

.home-panel-cta-box1:hover, .home-panel-cta-box2:hover, .home-panel-cta-box3:hover {transform: scale(1.05);}

@-webkit-keyframes swingPanel
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swingPanel
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


/**************************
HOME PAGE - VIDEO PANEL
**************************/
.homeVideo {width: 80%; max-width: 1500px; margin:auto;}
.homeVideoWrapper { width: 100%; padding: 0px; margin: 0 auto; clear: both; background: #474747;  overflow: hidden; padding: 60px 0px; }
.homeVideo img {width:100%;}

/**************************
HOME PAGE - LOCATIONS PANEL
**************************/
.home-locations {margin:0; padding: 80px 0 40px 0; color:#fff; text-align: center;
   background: rgb(0,188,228);
   background: linear-gradient(90deg, rgba(0,188,228,1) 0%, rgba(139,231,252,1) 100%, rgba(139,231,252,1) 100%); 
}
.home-locations .container {max-width: 1400px;}
.home-locations h2 {padding: 20px 0 20px 0; font-size: 40px; color:#fff; font-weight: 500;}
.home-locations .col-lg-1 {text-align:right;}
.home-locations .col-lg-1 i {font-size:40px;}

.home-locations-img {margin-top: 30px;}
.home-locations-img img {width:100%;}


.parallaxParent {
	height: 400px;
	overflow: hidden;
}
.parallaxParent > * {
	height: 200%;
	position: relative;
	top: -100%;
}
	
.parallax-img {width:100%; background-image: url(../../images/site/clinic.jpg); background-repeat: no-repeat; background-size:cover; background-position: center;}
.parallax-img-mod {background-size:100%;}


/**************************
HOME PAGE -  DOUBLE PANEL
**************************/
.home-double-panel {width:100%;}
.home-double-panel .container {max-width: 1500px;}

/**************************
HOME PAGE -  FAQs PANEL
**************************/
.home-faqs {background-color:#fff; margin:0; padding: 80px 0; color:#000; text-align: center;}
.home-faqs .container {max-width: 1500px;}
.home-faqs-divider { border-right: 1px solid #474747;}
.home-faqs h2 {padding: 20px 0 20px 0; text-transform: uppercase; color:#00bce4;font-size: 40px;}
.home-faqs .col-lg-1 {text-align:right;}
.home-faqs .col-lg-1 i {font-size:40px;}

.home-faq-list {padding-left:0; list-style-type: none;}
.home-faq-list li {padding: 3px 0;}
.home-faq-list li a {color:#474747; font-size: 24px; font-weight: 500;}
.home-faq-list li a:hover {color:#00bce4;}
.1home-faq-list li::before {
    content: "\f054";
    font-family: 'Font Awesome\ 5 Free';
    position: absolute;
    left: 0px;
    color: f#304851;
    font-size: 11px;
    margin-top: 8px;
	display: inline-block;
	font-weight:900;
	margin-left: 0;
}
.home-faq-list p {font-size: 18px;}

/**************************
HOME PAGE -  ASK THE DOCTOR PANEL
**************************/
.home-askdoctor {background-color:#fff; margin:0; padding: 80px 0; color:#474747; font-size: 24px; font-weight: 500; text-align: center;}
.home-askdoctor .container {max-width: 1500px;}
.home-askdoctor h2 {padding: 20px 0 20px 0; text-transform: uppercase; color:#ff6903;font-size: 40px;}
.home-askdoctor p {padding-bottom: 20px;}
.home-askdoctor .col-lg-1 {text-align:right;}
.home-askdoctor .col-lg-1 i {font-size:40px;}

.btn-askdoctor {margin: 40px 0 0 0;}

.btn-askdoctor a {
    background: #ff6903!important;
    padding: 15px 30px !important;
    color: #fff !important;
    border: 1px solid #ff6903!important;   
	width:auto;
	font-size: 30px;
    letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 600;
}
.btn-askdoctor a:hover {background: #fff!important; color:#ff6903!important; border: 1px solid #ff6903!important;}

/**************************
HOME PAGE -  LINKS PANEL
**************************/
.home-links {background-color:#000; margin:0; padding: 5px 0; color:#000;}
.home-links .container {max-width: 1500px;}
.home-links h2 {margin-bottom: 0; text-transform: uppercase;}

.links-carousel, .links-carousel * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.links-carousel { width: 100% !important; margin: 0 auto; text-align: center;}
.links-carousel img {  background: #000; padding: 10px 20px; margin: 0px; /* height: 75px;*/}
.links-carousel img:first-child { position: static; z-index: 100;}
.links-carousel .cycle-slide  { width: auto!important; height: auto; }

/**************************
NAVSIDEBAR
**************************/
.sidebar-module {padding: 20px; height: 100%;  color:#fff; font-weight: 500;}
.sidebar-module .list-group-item {background-color: inherit; border:none; padding: 10px 0; padding-left: 10px; }
.sidebar-module  h4 {color:#474747; text-transform: uppercase; font-size: 20px; font-weight: 500;} 
.list-group-item.active {background-color: inherit!important;}
.list-group-item.active > a {color:#474747!important;}
.sidebar-module p {padding-left: 10px;}

.sidebar-module a {color: #fff; text-decoration: none; font-weight: 500;}
.sidebar-module a:hover {color: #474747;}
.navsidebar .active > a {color: #000;}
.list-group{ margin-top: 10px;}
.list-group-item.active{ background-color: #e8e8e8; border-color: #e8e8e8; }
.dropdown-item.active{ background-color: inherit; border-color: inherit; }

/* Sub Menu */
.navsidebar-sub {padding-left:10px;}

/**************************
PRODUCTS MODULE
**************************/
.products-row .col-md-4 {padding-top: 15px;}
.products-row {margin-top: 0!important; padding-bottom: 0!important; min-height: 0!important;}
.products-row .col-3 img {width: 100%;}

.products-row-txt {position:relative; top: -60px; margin-bottom: -60px; background: rgba(255,255,255,0.80); padding: 5px; }
.products-row h2 {color:#000; text-transform: uppercase; font-size: 32px; font-weight: 700; margin-bottom: 10px; text-align: center;}
.products-row h3 {color:#999999; text-transform: uppercase; font-size: 18px; letter-spacing: 0px; font-weight: 600; text-align: center;}
.products-row h4 {color:#000; font-size: 18px; font-weight: 600; text-align: center;}

.products-row-a, .products-row-a img,.div-img  {overflow:hidden;}
.products-row-a:hover .div-img img {color:#000;  overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

.products-row-a:hover  {color:#000;  overflow:hidden;   
	opacity:0.6;
}
.products-row-a:hover h3 {color: #fff;}
.products-row-a:hover h4 {color: #fff; }
.products-row-a:hover .products-row-txt {background: rgba(0,0,0,1.00);padding-bottom: 2px!important;} 

.product-item-price {color:#000; font-weight:700; font-size: 18px;}
.product-item-description {padding: 10px 0;}
.product-item-shipping {padding-bottom:20px;}
.product-item-shipping h3 {text-transform: uppercase; font-weight:400; letter-spacing: 3px; font-size: 13px;}

.btn-cart {text-transform: uppercase; background: #99cccc; padding:12px 0px; color:#fff; font-size: 18px; letter-spacing: 4px; font-weight: 600; border: none; width: 100%;}
.btn-cart:hover {background: #fff; color:#99cccc; border: 1px solid #99cccc;}

/**************************
PROPERTIES
**************************/
.card-columns {
    column-count: 3;
}

.card-img-top{
    height:auto;
    width:auto;
    object-fit: cover;
}

.property-cards .col-7{
    text-align: right;
}

.property-detail-box{
    background-color: #e8e8e8;
    padding-top: 15px;
    padding-bottom: 15px;
}

.property-header{
    height: 50px;
    background-color: #212529;
}

.property-header .header-suburb{
    color: #fff;
    font-size: 22px;
    padding: 10px;
    text-transform: uppercase;
}

.property-header .header-icons{
    color: #fff;
    padding: 13px;
    text-align: right;
}

.property-header .row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.fotorama{
    background-color: #e8e8e8;
    margin-bottom: 15px;
}

.fotorama-floorplan{
    z-index: 9999 !important;
    position: relative;
    height: 100%;
}

.floorplan-img{
    object-fit: cover;
    height:100%;
    width:100%;
}

#floorplan{
    padding: 0 !important;
    margin-left: -1px;
}

.agent img{
    margin-right: 10px;
}

#map{
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

/**************************
DONATIONS
**************************/
.navbar-donation {padding:0 10px;}

.btn-donation {text-transform: uppercase!important; background: #999999; padding:5px 0px; color:#fff; font-size: 14px; letter-spacing: 2px; font-weight: 600; border: none; width: 100%;}
.btn-donation:hover {background: #fff; color:#999999; border: 1px solid #999999;}

.donationWrapper {padding: 10px 0; text-align: center;}
.donationWrapperInvisible {display:none;}
.txtDonationAmt {width: 100px;}	

.donationForm {display:none;}
.donationFormVisible {display:block;}

.donation-item a:hover > .donation-details {color:#fff!important; background-color: #000!important;}
.donation-details {background-color:#e8e8e8; text-align: center; color:#000; padding:20px; border-radius: 20px;}

.frmDonation .rad-donation {display:none;}
.frmDonation .label-amount {
	position: relative;
	color: #fff;
	background-color: #aaa;
	font-size: 18px;
	text-align: center;
	height: 150px;
	line-height: 100px;
	display: block;
	cursor: pointer;
	border: 3px solid transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 0;
}

.frmDonation .radSectionAmount input:checked + .label-amount {
	border: 1px solid #000;
	background-color: #000!important;
}

.frmDonation .form-control[readonly] {background-color: #fff; border: none; padding: 0;}
.frmDonation .form-control[readonly]:focus {-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}

.donation-amt {position: absolute; bottom: 2px; width:100%; text-align: center;}

.btn-donation {text-transform: uppercase!important; background: #999999; padding:5px 20px; color:#fff; font-size: 14px; letter-spacing: 2px; font-weight: 600; border: none; width: auto; margin:10px 0;}
.btn-donation:hover {background: #fff; color:#999999; border: 1px solid #999999;}


#frmRegister input[type="checkbox"]  {width:auto; display: block; float: left; margin-right: 5px; margin-top: 5px;}
.form-control-label {display:block;}
#frmRegister .progress {height: 5px;}
#frmRegister #progressBarDiv {font-size: 11px; color: #6c757d; margin-top: 5px; text-transform: uppercase; opacity: 0;}

/**************************
LOCATIONS
**************************/
.home-locations-div {width:100%; color:#474747; padding-bottom: 5px;}
.home-locations-state {display:inline-block; width: 50px; font-weight: 500; color:#fff; font-size:24px; margin-right: 15px;}
.home-locations-name {display:inline-block; padding: 0 2px;}
.home-locations-name a {color:#474747; text-transform: uppercase; font-weight: 500; font-size:24px;}
.home-locations-name a:hover {color:#fff;}

.locations-div {position: relative; padding:0; padding-bottom: 20px;}
.location-div {background-color: #c2e9ef; margin:20px 0; padding:20px; height: 100%;}
.locations-name {color: #0087ae; font-weight: 600; padding: 0px 0 5px 0; font-size: 20px;}
.locations-address {padding-bottom:10px; color: #72a1b2; font-weight: 500; padding-bottom: 5px;}
.locations-address p, .location-address p  {color: #72a1b2; font-weight: 500; padding-bottom: 0px; margin-bottom: 5px;}
.locations-address a {}
.locations-link {position:relative; bottom:0; color: #284863; font-weight: 600; text-transform: uppercase; padding-top: 15px;}
.locations .col-lg-4 {margin-bottom: 50px;}
.locations .col-lg-12 {padding-bottom: 0;}
.location-appointment {padding:10px 0;}
.locations-state {float:right; color: #0087ae; font-weight: 500; padding: 0px 0 5px 0; font-size: 20px;}
.locations-col {padding-bottom:30px;}

.locations-contact {height:100%; padding-bottom: 20px;}
.locations-contact-txt .btn-booking {margin:0px!important;}
.locations-contact-txt:first-of-type {margin-bottom: 40px;}
.locations-contact-txt h2 {color: #0087ae!important; font-weight: 600!important; padding: 0px 0 5px 0!important; font-size: 20px!important;}

.location-side {background: #474747; color:#fff; padding:10px 20px 20px 20px;}
.location-side h2 {color:#fff!important; text-transform: uppercase; font-weight: 600 !important; font-size: 20px !important;}
.locations-map iframe {max-width:100%; width:100%; margin-top: 20px;}
.location-map {/*float:right; margin-left:15px;*/}
.location-map iframe {max-width:100%; width:100%;}
.location-side ul li {color:#fff!important;}
.location-side ul li::before {color:#fff!important;}

.location-address {padding-bottom:10px; color: #284863; font-weight: 500;}
.location-address a { font-weight: 500!important; font-size:17px!important;}
.location-description {padding-top:20px;}
.location-fax {padding-left:30px;}


/**************************
SHOPPING CART
**************************/
.hidden-country {display:none!important; height:0!important;}

.table thead th {border-bottom: 2px solid #99cccc;}
.table td, .table th {border-top: 1px dotted #99cccc;}
.table thead th {letter-spacing: 4px; color:#000; font-size: 18px; border-top: none;}
.table td {color:#000; font-size: 16px; font-weight: 400;}
.table tfoot th {color:#000; font-size: 16px; text-align: right; border-top: 1px solid #99cccc; font-weight: 700;}
.td-center {text-align: center;}
.td-right {text-align: right;}

.btn-cart-remove {color: #99cccc!important; text-decoration: none; font-size: 16px !important; font-weight: 600; letter-spacing: 2px; position: relative; top: -4px; padding: 0; text-transform: lower;}	
.btn-cart-remove i {position: relative; top:1px;}
.btn-cart-remove:hover {color: #000!important; text-decoration: none;}

.btn-cart-shopping {color: #99cccc!important; text-decoration: none; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lower;}	
.btn-cart-shopping:hover {color: #000!important; text-decoration: none;}

.btn-checkout, .btn-checkout:active, .btn-checkout:visited {background: #00a1bc; padding: 10px 25px; color:#fff; font-size: 19px;font-weight: 600; border: none; border-radius: 0;  border: 1px solid #00a1bc; margin-top: 20px;}
.btn-checkout:hover {background: #fff; color:#00a1bc; border: 1px solid #00a1bc;}

#checkout h3 {color: #99cccc !important; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lowercase;}

.alert-info {
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 0;      
    margin: 0 0px 20px 0px;
	padding:0;
}

.alert-success {color: #093!important; background-color:white; }
.alert-error {color:#FB0307}

.form-control-feedback {color: #CC0000; padding: 10px 0px 0px 10px;}

/**************************
FOOTER
**************************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 580px; /* Set the fixed height of the footer here (for sticky footer) */  
  text-align: left;
  background: #fff;  
  background-color: #dddddd;
  z-index: 0;
}
.footerContacts .container-fluid {padding-right: 0; padding-left:0;}

.footerContactsWrapper {
    width: 100%;
	height: 100%!important;
	max-width: 1920px;
	margin: auto;
	text-align: left;
    font-size: 22px;
    color: #fff;
    font-weight: 300;
    height: 350px;
    margin:auto;  
    padding: 80px 0;	
	
	/*background-image: url('../../images/site/bottom-pic.jpg');
    background-repeat: no-repeat; 
    background-position:bottom left; */
}

.footerContacts {position: relative; z-index: 200;}

.footerContactsWrapperImg { position: absolute; bottom: 35px; width: 100%; height: 100%; z-index: 100;
	background-image: url('../../images/site/bottom-pic.jpg');
    background-repeat: no-repeat; 
    background-position:bottom left; 
	
	opacity: 0;  transition: opacity 10s ease;
}

.footer-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}

#footer-social {color: #969696; width:100%; margin: 0 auto; padding: 10px 0; text-align: center; font-size: 13px;}
#footer-social h2 {font-size:10px; text-transform: uppercase; margin-top: 50px; margin-bottom: 20px;}
#footer-social i {}
#footer-social a, #footer-txt a:active {color: #969696; text-decoration: none; font-size: 20px; line-height: 120%; padding: 0 10px;}
#footer-social a:hover{ color: #000; text-decoration: none;}

#footer-txt {
    color: #fff;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    background: #000;
    height: 35px;
    padding-top: 5px;
}
#footer-txt a, #footer-txt a:active, .footer-txt a, .footer-txt a:active {color: #969696; text-decoration: none; font-size: 14px; line-height: 120%; padding: 0; font-weight: 500;}
#footer-txt a:hover, .footer-txt a:hover{ color: #000; text-decoration: none;}

#footer-txt-bot {
    color: #474747;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    background: #fff;
    height: 80px;
    padding-top: 5px;
	position: absolute;
    bottom: 0;
	padding-top: 30px;
}
#footer-txt-bot a, #footer-txt-bot a:active, .footer-txt-bot a, .footer-txt-bot a:active {color: #474747; text-decoration: none; font-size: 14px; line-height: 120%; padding: 0 7px; font-weight: 500;}
#footer-txt-bot a:hover, .footer-txt-bot a:hover{ color: #000; text-decoration: none;}

.footer-menu-top-gap {padding-top:30px;}
.footer-menu-top a {font-weight:600; text-transform: uppercase;}

.google-review {padding-top: 30px;}

/**************************
PREVIEW BAR
**************************/
.preview {width:100%; height:52px; background-color: #a6dbd7; position:fixed; z-index: 1000; top:0; color:#fff; }
.preview .navbar-logo {height: 54px; width: auto; position: relative; top: -2px;margin-left: 15px}
.preview, .preview a {font-size: 20px; color:#fff; font-weight: 500; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.preview a:hover {color: #000!important;}
.preview a i {padding-top: 15px;}
.preview-return {float:right; margin-right: 30px;}
.preview-return a {font-size:16px; color:#b71319;}
.preview .spacer {padding: 0 10px;}

/**************************
HELPER - SHARING
**************************/
#share {font-size: 11px!important; border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.a2a_menu a {font-size: 13px!important;}
.a2a_menu {background: #e8e8e8!important; }
a.a2a_i, i.a2a_i {border: none!important;}
#share i {font-size: 18px; padding: 0 7px 0 0;}
#share a {padding: 0 7px 0 0;}
.share-space {float: left; padding: 0 70px 0 0; }
.share-space a {color: #444; }
.share-space a:hover {color: #ccc; }

/**************************
HELPER - PAGINATION
**************************/
#pagination {border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.pagination  li {padding: 0 10px 0 0 !important; font-size: 16px;}
.pagination li::before{content: none !important;}
.pagination{padding-left: 0 !important;}

.page-item.active .page-link {
    background-color: #00a1bc!important;
    border-color: #00a1bc!important;
}

/**************************
HELPER - BUTTONS
**************************/
.btn-more {
    text-transform: uppercase!important;
    background: #00a1bc!important;
    padding: 7px 15px!important;
    color: #fff!important;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #00a1bc!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    border-radius: 0px!important;
    margin-top: 10px;
} /* style used on button tag */
.btn-more a, .btn-more a:active, .btn-more a:visited { }
.btn-more:hover {
    background: #fff !important;
    color: #00a1bc !important;
}


.btn-back {width:100%; padding: 20px 0 0 0; font-weight: 600;font-size: 15px !important; }
.btn-back a, .btn-back a:active, .btn-back a:visited {color:#284863; font-weight: 600; text-transform: uppercase; padding-top: 5px; text-decoration: none;}	
.btn-back a:hover {color: #00a1bc!important;}

/**************************
NEWS MODULE
**************************/
.news-list-item {clear:both;  padding: 0px 0 20px 0px; overflow: hidden;}
.news-list-item .btn {padding: 2px 20px;}
.news-list-item-txt {float: left;   width: auto;}
.news-list-item-img {float: right;  width: 35%;}
.news-list-item-img img { width: 100%; max-width: 100%; height: auto;}

.news-item {clear:both; padding: 10px 0px; width:100%;}
.news-item-txt {float: left;  width: 65%;  }
.news-item-img {/*float: right;  width: 35%; height: auto; text-align: center; margin: 0;*/ width:100%;}	
.news-item-img img {width: 100%; max-width: 100%; height: auto;}
.news-item img {max-width: 100%!important; height: auto !important;}
	
.news-newsletter {width:100%; border: #e8e8e8 1px solid;  -webkit-border-radius: 10px; -moz-border-radius: 10px;  border-radius: 10px; padding: 5px 10px 10px 10px; margin: 20px 0px;}
.news-newsletter h4 {color:#333366; font-size: 20px; font-weight: 500; text-align: left; border-bottom: 2px dotted #717071; padding-bottom: 10px; margin-bottom: 0px;}
.news-newsletter p {margin: 5px 0; text-align: left;}
.news-newsletter input {width:100%!important; margin-bottom: 10px; font-size: 12px;padding: 0px 5px;}
.news-newsletter button {width:100%!important; padding:4px 0;}


.panel-news-item {width: 100%; /*padding: 0 0 40px 0; */}
.panel-news-item .div-img {width:100%;}
.panel-news-item img {width:100%;}

.panel-news-item-category-date {color:#000; font-weight: 600;}
.panel-news-item-category {color:#b5b8b8; font-weight: 600; text-transform: uppercase;}
.panel-news-item-date {color:#f6862d; font-weight: 600; text-transform: uppercase; }
.panel-news-item-title {color:#0087ae; font-weight: 600; padding: 10px 0 5px 0; font-size: 17px; }
.panel-news-item-shortdesc {color:#72a1b2; font-weight: 300; padding-bottom: 5px; }
.panel-news-item-readmore {color:#284863; font-weight: 600; text-transform: uppercase; padding-top: 5px;}
.panel-news-item-shortdesc p { }
.panel-news-item p {margin-bottom: 0px;}

.panel-news-item a:hover > div > img {overflow:hidden; opacity:0.8;}
.panel-news-item a:hover > div {color:#00a1bc!important;}

.panel-news-item a:hover .div-img img {overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

.news-list .card-columns {column-gap: 2rem;}
.news-list .card-columns .card {margin-bottom: 2rem;}
.news-list .card {border:none; border-radius: 0;}
.news-list .card-body {background-color:#c2e9ef;}

.news-item-other {margin-bottom:30px;}
.news-item-other-hdr h2 {font-size: 17px!important;}
.nopadding {padding-left: 0!important; margin: 0 !important; padding-right: 0!important;}

.news-cta .card-body { color:#fff; text-align: center; margin:auto; background: linear-gradient(90deg, rgba(255,105,3,1) 0%, rgba(255,142,6,1) 100%, rgba(255,142,6,1) 100%); padding: 20px 20px 40px 20px; margin-bottom: 40px;}
.panel-news-cta {width: 100%;}
.panel-news-cta .div-img {/*width:100%;*/ margin: auto;}
.panel-news-cta img {width:50%!important;}
.panel-news-cta-title {color:#fff; font-size: 17px; font-weight: 500;}
.panel-news-cta-button { border: 1px solid #fff; color:#fff; text-transform: uppercase; margin-top:15px; margin-bottom:0px; padding:5px;}
.panel-news-cta-button a {color:#fff!important;}
.panel-news-cta-button:hover {color:#ff6903!important; background: #fff!important;}
.panel-news-cta-button:hover > a {color:#ff6903!important;}

.div-cta-bottom {width:100%;}

.news-cta-bottom {margin-top:20px;}
.div-cta-bottom {width: 100% !important;}
.div-cta-bottom .div-img-bottom {float:left; width:auto!important;}
.div-cta-bottom .div-cta-txt {float: left; text-align: left;}
.div-cta-bottom .div-cta-txt .panel-news-cta-button {width:auto;}
.div-cta-bottom .div-cta-txt .panel-news-cta-button {text-align:center; display: inline-block; padding: 5px 20px;}
.card-body-cta-bottom {margin-bottom: 0 !important; padding: 20px 20px 20px 20px !important; }
.div-cta-bottom .div-img-bottom img {width: 70% !important;}

/**************************
FAQS MODULE
**************************/
.faqs .accordion-toggle {text-decoration: none!important;}
.faqs .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Font Awesome\ 5 Free';  /* essential for enabling glyphicon */
    content: "\f078";    /* adjust as needed, taken from bootstrap.css */
    padding-left:10px;
	font-weight:900
}
.faqs .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f054";    /* adjust as needed, taken from bootstrap.css */
}

.faqs h2 {margin-top: 0!important;}

/**************************
DOCUMENTS MODULE
**************************/
.document-wrapper {width:100%; clear:both; border-top: 1px #007bff solid; padding: 10px 10px;}
.document-title {float:left;}
.document-link {float:right;}
.document-link a, .document-link a:active, .document-link a:visited {text-decoration: none;}	
.document-details {width:100%; clear:both; padding-bottom: 5px; }

/**************************
GALLERY MODULE
**************************/
.gallery-block{
	padding-bottom: 60px;
	padding-top: 60px;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold; 
}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {
  text-align: center; 
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px; 
}

.gallery-block.cards-gallery a {
  color: #212529; 
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none; 
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
	}
}

/**************************
TEAM MODULE
**************************/

.team-item {   
	
}

.team-item-img {
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    background-size: cover!important;
   /* padding: 15px;*/
}

.team-name-band{
    position: absolute;
    bottom: 5px;
    height: 90px;
    padding: 10px;
    width: calc(100% - 10px);
    background: rgba(0, 0, 0, .5);
    left: 0;
    margin-left: 5px;
    text-align: center;
    color: white;
}

.team-name-band-title {font-size: 14px; color:#fff; font-weight: 300;}

.team-name-band a:hover{
    color: white !important;
}

.team-name-band p {margin-bottom: 0;}

.team-h2 {padding-top:0px!important; padding-bottom: 10px !important;}
.team-h2-gap {padding-top:30px!important;}
.team-hr hr {border-top: 2px solid #000!important;}

.team-item .div-img img {width:100%;}
.div-img img {width:100%;}

.team-txt {padding:0; }
.team-name-band-name {color:#00a1bc; font-weight: 600; line-height: 150%; font-size: 25px; padding:10px 0;}
.team-name-band-title {color:#ff6903; line-height: 150%; font-size: 18px; font-weight: 500;}
.team-name-band-role {color:#000; line-height: 150%; font-size: 16px; font-weight: 600;}
.team-name-band-description {color:#5a5a5a; line-height: 150%; font-size: 17px; padding:10px 0 10px; font-weight: 300;}

.team-a {height:100%; padding-right: 100px; padding-top: 10px;}
.team-a,.div-img  {overflow:hidden; width:60%;}

.team-div-img {/*border-bottom: 6px solid #989898;*/}

.1team-a:hover .div-img img {color:#000;  overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */	
}

.team-a:hover  {overflow:hidden; /*opacity:0.8;*/}
/* .team-a:hover .team-name-band-name, .team-a:hover .team-name-band-title, .team-a:hover .team-name-band-role {color: #ff6903;} */


.team-list-header {width:100%; /*border-bottom: 6px solid #ff6903;*/ margin-bottom: 20px;}

.team-list-header-txt {
    float: left;
    max-width: 70%;
    height: 100%;
    position: relative;
    bottom: 0;
	padding-left: 20px;
    /*-webkit-transform: translateY(40%);
    -ms-transform: translateY(40%);
    transform: translateY(40%);*/
}

.team-list-header-img { float: left; max-width: 30%; }
.team-list-header-txt h2 {padding:0!important;}
.team-list-header-txt h3 {padding:0!important;}
.team-list-header-txt h4 {padding:0!important;}

.team-row {margin-left:0; margin-right:0;}

/**************************
PROJECTS MODULE
**************************/
.project-list-item {clear:both;  padding: 20px 0px; overflow: hidden;}
.project-list-item .btn {padding: 2px 20px;}
.project-list-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-list-item-img {float: right; text-align: center;margin: 0 0 20px 0;}	
.project-list-item-img img {width: 100%; max-width: 100%; height: auto;}

.project-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.project-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-item-img {float: right;  width: 35%; height: auto; text-align: center;}	
.project-item-img img {width: 100%; max-width: 100%; height: auto; } 

.project-block.cards-project .card{
  transition: 0.4s ease; 
}

.project-block.cards-project .card img {}

@media (min-width: 576px) {
	.project-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);	   
	}
}


.team-block.cards-team .card{
    transition: 0.4s ease;
}

.team-block.cards-team .card img {}


/**************************
MODAL
**************************/
.modal {z-index:10000;}
modalAskTheDoctor .modal-lg {max-width: 70%;}
#modalAskTheDoctor .modal-content {position:absolute!important; top:129px; border-radius: 0; background-color: #fff; border:none;
	-webkit-box-shadow: 0px 0px 21px -4px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 21px -4px rgba(0,0,0,1);
box-shadow: 0px 0px 21px -4px rgba(0,0,0,1);
}
.modal-body-body {width:100%; padding: 0px;}
.modal-header {padding-botttom:0; padding: 0 15px; border-radius: 0; border-bottom: none;}
.modal-header-content {padding: 10px; width:100%;}
.modal-header-content-header {color:#ff6903; text-transform: uppercase; font-size: 40px; font-weight: 400; width:100%;}
.modal-header-content-header div {float:left;}
.modal-header-content-header-padding {padding-top:5px; padding-left:10px;}
.modal-body {padding: 0 20px;}
.modal-body-img {float:left; width:30%; padding: 0 20px;}
.modal-body-txt {float:left; width:70%; padding: 0 20px 0 0; }
.modal-body-txt p {font-size:14px!important;}
.modal-body-img img {width:100%;}
.modal-header .team-name-band-name {color: #2f67b2; width:100%;}
.modal-header .team-name-band-position, .modal-header .team-name-band-qualification { color:#cc1f36; font-size: 15px; font-weight: 600;}
.modal-footer {border:none!important;}

.modal-btn {padding: 10px 0px; clear:both; text-align: right;}
.modal-btn a .fa-times {background-color: #fff; color:#5a5a5a!important; padding: 5px;}
.modal-btn a i:hover {color:#fff!important;background-color: #5a5a5a!important;}

.modal label {color: #304851; font-size: 17px; font-weight: 500; padding-top: 10px;}
.modal .hs-form-required {padding-left: 5px;}
.modal input, textarea {width:100%;}
.modal .hs_recaptcha {margin:20px 0;}
.modal .hs-button {text-transform: uppercase!important; background: #ff6903!important; padding:5px 40px !important; color:#fff!important; font-size: 30px; letter-spacing: 1px; font-weight: 600; border: none; width: 100%; border: 1px solid #ff6903!important; -webkit-box-shadow: none!important; box-shadow:none!important; border-radius: 0px!important; width:auto;}
.modal .hs-button:hover {background: #fff!important; color:#ff6903!important;}

/* Ask The Doctor */
.modal-AskTheDoctor .modal-header {/*background-color: #00a1bc;*/}
.modal-AskTheDoctor .modal-header {/*background-color: #00a1bc;*/}
.modal-AskTheDoctor .modal-header-content-header-padding {padding-top:7px;}
	
.modal-content{
    border-radius: 0;
	background-color: #fff!important;
}

.hs-error-msgs { padding: 0 20px!important; margin: 0!important;}
.hs_error_rollup {display:none; visibility: hidden; height:0;}
.hs-error-msg {font-size:14px!important; color:#FB0307!important; margin: 0; padding-top: 0!important; }

/*Schduling Page*/
.scheduling-page-header{
    font-size: 30px;
    color: #00a1bc;
    font-weight: 600;
    margin-top: 45px;
}

.scheduling-page-logo{
    width: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/**************************
EXTRAS
**************************/
.pages-costs {width:100%; clear:both; display: table;}
.pages-costs div {width: 30%; margin:0 1.5%; padding: 20px 30px; display: table-cell; height: 100%; border-collapse: separate; border: solid 10px #fff;}
.pages-costs div p {text-align: center; color:#000;}
.pages-costs-1 {background-color: #b3e3eb;}
.pages-costs-2 {background-color: #ffd066;}
.pages-costs-3 {background-color: #00a1bc;}
.pages-costs-3 p {color:#fff!important;}

/* CTAs */
.cta-lasik-guide {background: linear-gradient(90deg, rgba(255,105,3,1) 0%, rgba(255,142,6,1) 100%, rgba(255,142,6,1) 100%); display: inline-block; padding: 0px 20px 20px 20px; position:relative; width: 100%; margin: 20px 0; top: 15px;}
.cta-lasik-guide a {width:auto; display: inline-block; border: 1px solid #fff; color:#fff!important; font-size: 15px; text-transform: uppercase; padding: 5px 20px; margin-left: 20px;}
.cta-lasik-guide a:hover {color:#ff6903!important; background: #fff!important;} 
.cta-lasik-guide:before { content:url('../../images/site/icon1.png'); position:relative; z-index:1;}
.cta-lasik-guide:after { content:'The Ultimate Australian Guide to LASIK'; z-index:20; left:20px; position: absolute; top:40px; left:155px; color:#fff; font-size: 17px; font-weight: 500;}

.cta-eye-test {background: linear-gradient(90deg, rgba(255,105,3,1) 0%, rgba(255,142,6,1) 100%, rgba(255,142,6,1) 100%); display: inline-block; padding: 0px 20px 20px 20px; position:relative; width: 100%; margin: 20px 0;}
.cta-eye-test a {width:auto; display: inline-block; border: 1px solid #fff; color:#fff!important; font-size: 15px; text-transform: uppercase; padding: 5px 20px; margin-left: 20px;}
.cta-eye-test a:hover {color:#ff6903!important; background: #fff!important;} 
.cta-eye-test:before { content:url('../../images/site/icon2.png'); position:relative; z-index:1; top: 13px;}
.cta-eye-test:after { content:'Take the Australian Online Eye Test'; z-index:20; left:20px; position: absolute; top:40px; left:155px; color:#fff; font-size: 17px; font-weight: 500;}

.cta-calculate-save {background: linear-gradient(90deg, rgba(255,105,3,1) 0%, rgba(255,142,6,1) 100%, rgba(255,142,6,1) 100%); display: inline-block; padding: 0px 20px 20px 20px; position:relative; width: 100%; margin: 20px 0;}
.cta-calculate-save a {width:auto; display: inline-block; border: 1px solid #fff; color:#fff!important; font-size: 15px; text-transform: uppercase; padding: 5px 20px; margin-left: 20px;}
.cta-calculate-save a:hover {color:#ff6903!important; background: #fff!important;} 
.cta-calculate-save:before { content:url('../../images/site/icon3.png'); position:relative; z-index:1; top: 13px;}
.cta-calculate-save:after { content:'Calculate how much you could save with LASIK'; z-index:20; left:20px; position: absolute; top:40px; left:155px; color:#fff; font-size: 17px; font-weight: 500;}

.cta-booking-blue {background: linear-gradient(90deg, rgba(0,188,228,1) 0%, rgba(139,231,252,1) 100%, rgba(139,231,252,1) 100%); display: inline-block; padding: 0px 20px 20px 20px; position:relative; width: 100%; margin: 20px 0;}
.cta-booking-blue a {width:auto; display: inline-block; border: 1px solid #fff; color:#fff!important; font-size: 15px; text-transform: uppercase; padding: 5px 20px; margin-left: 20px;}
.cta-booking-blue a:hover {color:#ff6903!important; background: #fff!important;} 
.cta-booking-blue:before { content:url('../../images/site/icon-calendar.png'); position:relative; z-index:1; top: 13px;}
.cta-booking-blue:after { content:'Experience a new world of vision today'; z-index:20; left:20px; position: absolute; top:40px; left:155px; color:#fff; font-size: 17px; font-weight: 500;}

.cta-booking-blue-header-needs {background: linear-gradient(90deg, rgba(0,188,228,1) 0%, rgba(139,231,252,1) 100%, rgba(139,231,252,1) 100%); display: inline-block; padding: 0px 20px 20px 20px; position:relative; width: 100%; margin: 20px 0;}
.cta-booking-blue-header-needs a {width:auto; display: inline-block; border: 1px solid #fff; color:#fff!important; font-size: 15px; text-transform: uppercase; padding: 5px 20px; margin-left: 20px;}
.cta-booking-blue-header-needs a:hover {color:#ff6903!important; background: #fff!important;}
.cta-booking-blue-header-needs:before { content:url('../../images/site/icon-calendar.png'); position:relative; z-index:1; top: 13px;}
.cta-booking-blue-header-needs:after { content:'We’ve got you covered for all your ophthalmic needs'; z-index:20; left:20px; position: absolute; top:40px; left:155px; color:#fff; font-size: 17px; font-weight: 500;}

.cta-booking {padding:20px 0;}
.cta-booking a {width:auto; background: #ff6903 !important; color:#fff!important; font-size: 20px!important; font-weight: 600!important; text-transform: uppercase!important; padding: 5px 20px; display: inline-block; text-align: center;}
.cta-booking a:hover {color:#ff6903!important; background: #fff!important; border: 1px solid #ff6903 !important;} 

.cta-download {padding:20px 0;}
.cta-download a {width:auto; background: #fff !important; color:#ff6903!important; font-size: 20px!important; font-weight: 600!important; text-transform: uppercase!important; padding: 10px 15px; border: 1px solid #ff6903 !important; display: inline-block; text-align: center;}
.cta-download a:hover {color:#fff!important; background: #ff6903!important; } 

.case-study {background-color:#c2e9ef; padding: 10px 30px; margin:30px 0;}
.case-study p {font-size: 15px!important;}
.case-study h2 {margin-top:0!important;}
.case-study h3 {color:#284863!important;}
.case-study  ul li {font-size:15px!important;} 
.case-study  ul li::before {position:relative!important; left: -10px!important; top: -2px!important;}

/*Costs Table */
.cost-table .row div { border-bottom: 1px solid #dddddd; padding: 20px 10px;}

/* Blue Box */
.blue-box {background-color:#c2e9ef; padding: 10px 30px; margin:30px 0;}
.blue-box ul li {font-size:15px!important;} 
.blue-box ul li::before {position:absolute; left: 70px!important;}

/* Article - 12 Things About Your Eyes */
.twelve-things .juiAccordion .ui-accordion-header-icon {display: none;}
.twelve-things .ui-accordion .ui-accordion-header {background: none; color:#3cb0bc!important; border: 1px solid #d7d7d7 !important; border-radius: 0 !important; padding-left: 10px !important;} 
.twelve-things .ui-accordion .ui-accordion-content {height:auto!important;}
.twelve-things img {width:100%;}
.twelve-things .cta-booking {padding: 0 0 20px 0;}
.twelve-things .cta-booking a {padding:5px; font-size:15px!important; display: inline-block;}
.twelve-things .cta-eyetest {padding: 0 0 20px 0;}
.twelve-things .cta-eyetest a {
    width: auto;
    background: #fff !important;
    color: #ff6903 !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
	padding: 5px;
    border: 1px solid #ff6903;
}
.twelve-things .cta-eyetest a:hover {color:#fff!important; background-color: #ff6903!important;}

/* HTML Code Blooc for Style Guide page */
.code-block {padding: 10px 20px; background:#F7F5F5; font-size: 15px; margin-bottom: 60px; margin-top: 10px;}
.code-block h2 {color:#000!important; margin:0!important; padding:0!important; font-size: 15px!important;}


/* Blue Outline Box */
.blue-outline-box {background-color:#fff; padding: 10px 30px; margin:30px 0; border: 1px solid #939598;}
.blue-outline-box ul li {font-size:15px!important;} 
.blue-outline-box ul li::before {position:absolute; left: 70px!important;}

@media (min-width: 576px) {
    .team-block .transform-on-hover:hover {
        transform: translateY(-10px) scale(1.02);
    }
}

/**************************
RESPONSIVE
**************************/
@media screen and (max-width: 480px) {	
	body {margin-bottom: 1100px;}
	
	.blog-post {padding: 10px!important;}
	.navbar-nav {top: 30px!important;}
	.navbar-top {width:100%; position: initial}
	.navbar-logo {position: relative; top: 15px!important;}
	.navbar-logo img {width:40%;}
	.navbar-contacts {top: -75px!important; width: 100%; text-align: center;}
	.custom-toggler {top: 40px!important; right: 20px!important;}	
	.navbar-contacts a {font-size:20px;}
	.navbar-contacts a i {font-size:15px;}
	.custom-toggler {right:0px!important;}
	.navbar-custom {height:120px;}
	
	.home-intro h2 {font-size: 18px;}
	.home-intro h1 {font-size:24px;}
	.home-intro p {font-size:16px;}
	.btn-home-booking {font-size:20px;}
		
	.home-panel-cta-inner {width: 70%;}
	.home-panel-cta-box-img {/*max-height: 100px;*/}
	.btn-cta, .home-booking {width:100%;}
	.btn-cta a, .home-booking a {width: 98%; display: inline-block; padding: 10px;}
	.img-doctors div img {max-height: 220px;}
	.home-locations h2, .home-faqs h2, .home-askdoctor h2 {font-size:24px;}
	.home-locations-name a, .home-faq-list li a, .home-askdoctor p {font-size: 16px;}
	.home-locations-state {width:100%;}
	.home-faq-list {margin-bottom: 0;}
	.navbar-booking-mobile .btn-booking {font-size: 18px;}

	.inside-page {overflow: inherit;}
	.inside-page .carousel-item {/*height: 150px!important;*/ height:auto;}
	.inside-page .carousel-item > img {top: 70px!important;  margin-bottom: 70px!important;}
	.1inside-page .carousel-item > img {height: 120px!important; top: 70px!important;  margin-bottom: 70px!important;}
	.carousel-item {/*height: 300px!important;*/}
	.carousel-item > img {/*height: 300px!important;*/ /*top: 70px!important;*/}
	.carousel-caption-inside {top: 175px!important;}	
	.carousel-caption { /*padding: 10px 10px!important;*/}
	.carousel-caption-h1 {font-size:22px!important; padding-bottom: 10px!important;}
	.carousel-caption-h2 {font-size:14px!important; /*visibility: hidden!important; display: none!important; height:0!important;*/}
	.carousel-caption-cta {padding: 15px 0!important; margin-top: 10px;}
	.carousel-caption-cta-1, .carousel-caption-cta-2 {font-size: 16px!important; padding: 5px!important; width: 100%; display: inline-block;}
	.carousel-caption-cta-dbl {margin-bottom: 20px!important;}
	.carousel-control-next, .carousel-control-prev {visibility: hidden!important; display: none!important; height:0!important;}
	.carousel-caption-cta-2 {display:none; visibility: hidden; height:0;}
	
	.affix {height: 80px !important;}
	.affix .navbar-nav {top: 18px!important;}
	.affix .navbar-top {top: -2px!important;}
	.affix .navbar-booking-mobile {/*top: -1px!important;*/}
	.affix .navbar-contacts {top: -40px!important; }
	.affix .navbar-contacts a {font-size: 14px!important;}
	.affix .navbar-contacts a  i {font-size: 10px!important;}
	.affix .navbar-logo {/*top: 10px!important;*/ position: relative;}
	.affix .navbar-logo img {width: 30%!important; height:auto!important; /*top: 10px!important;*/}	
	.affix .custom-toggler {/*top: 32px!important;*/}
	.affix .navbar-collapse {top: 62px !important;}
	
	.home-panel-cta-inner {padding: 20px 0 0px 0;}
	.home-panel-cta .col-lg-4 {padding: 0!important;}
	.home-panel-cta-box1, .home-panel-cta-box2, .home-panel-cta-box3 {margin:0; height: 100%!important; position: relative; padding-bottom: 35px;}
	.home-panel-cta-box1 h2, .home-panel-cta-box2 h2 ,.home-panel-cta-box3 h2 {visibility: hidden!important; display: none!important; height:0!important; /*font-size:14px; margin-top: 10px;font-weight: 500;*/}
	.home-panel-cta-box1 h3, .home-panel-cta-box2 h3, .home-panel-cta-box3 h3 {font-size: 14px!important; padding: 0 10px; margin-bottom: 0; padding-top: 5px;}
	.home-panel-cta-box {padding:0!important;}
	.btn-cta {margin: 0 0 5px 0;}
	.btn-cta a {font-size: 16px!important;}		
	.home-panel-cta .col-lg-4 {margin-bottom: 20px!important; width: 80%!important;}
	.links-carousel img {width:30%;}
	
	footer {height: auto!important;} 
	.footerContactsWrapper {margin-bottom: 16px!important;}
	#footer-txt-bot {font-size:12px; padding-top: 0px;}
	#footer-txt-bot a, #footer-txt-bot a:active, .footer-txt-bot a, .footer-txt-bot a:active {font-size:11px; padding: 0 2px; color: #969696;}	
	.footerContactsWrapperImg {bottom: 16px;}
	
	.card-columns {column-count: 1!important;}
	
	.btn-booking-mobile {left:20px; padding: 2px 15px!important; font-size: 15px!important; top: 5px!important;}
	.navbar-booking-mobile .phone-icon {right:0;}
	.navbar-booking-mobile .contact-icon {right:35px!important;}
	.navbar-booking-mobile i {font-size: 14px!important;}
	
	.carousel-caption-inner {padding: 0px 2%!important;}
	.carousel-caption { /*top: 12%!important;*/ padding-top: 90px;}
	.carousel-item { height: 700px!important;}
	
	.home-doctors h2 {font-size:24px; margin-left:0; margin-bottom: 5px;}
    .home-doctors p {font-size:16px;}
	
	.btn-askdoctor {display:inline-flex;}
	
	.home-doctors-text {padding:0;}
	.home-doctors {padding: 20px 0!important; width:80%!important;}
	.home-doctors-video {padding: 0;}
	
	.home-panel-cta { padding: 20px 0!important; }
	.home-panel-cta-box h2 { padding: 10px!important; font-size: 20px!important;}
	.home-panel-cta-box:nth-child(2), .home-panel-cta-box:nth-child(3) {padding-top: 20px!important;}
	
	.home-intro {padding: 20px 0!important; width:100%!important; margin:auto;}	
	.home-intro-img { padding-top: 0px!important;}
	.home-intro-txt {font-size: 14px;}
	.home-intro1 h1 {font-size: 30px!important; padding:0;}
	.home-intro1 h2, .home-intro1 p {font-size:17px!important;}
	.home-intro-num { font-size: 24px;}
	.home-intro-booking .btn-booking { font-size: 17px!important; padding: 15px 4px!important; letter-spacing: 0; width: 100%;}
	.home-intro-booking { padding-top: 20px;}
	.home-locations {padding: 20px 0!important;}
	.home-locations h2, .home-faqs h2, .home-askdoctor h2 { padding: 10px 0 0px 0!important; margin: 0;}
	.home-locations-state {font-size:20px!important;}
	
	.home-intro1 {padding-top:20px;}
	.home-intro1 h1 {font-size:30px;}
	
	.parallaxParent {/*height: 400px!important;*/}
	.home-locations img {width:10%;}
	
	.home-faqs {padding: 20px 0!important;}
	.home-faqs img {width:15%;}
	.home-faq-list p { font-size: 14px;}
	
	.btn-askdoctor {margin:0!important;}		
	.btn-askdoctor a {font-size:20px;}
	.home-askdoctor img {width:15%;}
	
	#footer-social h2 { font-size: 12px!important;}
	#footer-social a { padding: 0 10px!important;}
	
	.container .blog-post h1 {font-size:24px;}	
	
	.location-map {margin-left:0; float:none; display: none; visibility: hidden; height: 0;}
	
	.team-list-header-txt {-webkit-transform: none;  -ms-transform: none; transform: none; }
	.team-a {padding-bottom:40px;}
	
	.modal-AskTheDoctor .modal-header-content-header-padding {font-size:25px; padding-top: 20px;}
	.modal .hs-button {font-size:25px; }
	#modalAskTheDoctor .modal-content {top:40px;}
	
	.cta-lasik-guide {padding: 20px 40px 40px 20px;}
	.cta-lasik-guide a {top: 17px; position: relative;}
	.cta-lasik-guide::after {top: 10px; right: 10px; left: 90px; font-size:15px;}
	.cta-lasik-guide::before {background-image: url('../../images/site/icon1.png'); background-size: 50px 50px;  display: inline-block; width: 50px; height: 50px; content:"";}
	
	.cta-eye-test {padding: 20px 40px 40px 20px;}
	.cta-eye-test a {top: 17px; position: relative;}
	.cta-eye-test::after {top: 10px; right: 10px; left: 90px; font-size:15px;}
	.cta-eye-test::before {background-image: url('../../images/site/icon2.png'); background-size: 50px 50px;  display: inline-block; width: 50px; height: 50px; content:"";}

	.cta-calculate-save {padding: 20px 40px 40px 20px;}
	.cta-calculate-save a {top: 17px; position: relative;}
	.cta-calculate-save::after {top: 10px; right: 10px; left: 90px; font-size:15px;}
	.cta-calculate-save::before {background-image: url('../../images/site/icon3.png'); background-size: 50px 50px;  display: inline-block; width: 50px; height: 50px; content:"";}
	
	.cta-booking-blue {padding: 7px 20px 40px 20px;}
	.cta-booking-blue a { top: 20px; position: relative; width: 100%; margin: 0!important; text-align: center; font-size:15px!important;}
	.cta-booking-blue::after {top: 23px; right: 10px; left: 90px; font-size:16px;}
	.cta-booking-blue::before {background-image: url('../../images/site/icon-calendar.png'); background-size: 50px 50px;  display: inline-block; width: 50px; height: 50px; content:"";}
	
	.cta-booking a {width:100%!important;}
		
	.lasik-guide-progressbar {top:120px!important;}
	
	.team-list-header-txt {max-width: 100%; -webkit-order: 1; order: 1; flex:none!important; }
	.team-list-header-img {max-width: 100%; -webkit-order: 2; order: 2; flex:none!important; }
	
	.container .blog-post .btn-booking {width:100%!important;}
	
	.blue-box ul {margin-left:0!important;}
	
	.img-doctors {display: none!important; visibility: hidden!important; height: 0!important;}
	.home-doctors-mobile {display: block!important; visibility: visible!important; height: auto!important;}
	
	#savings-calculator {margin-top: 60px;}
	#savings-calculator li {position: relative;}
	#savings-calculator li a {position: absolute; bottom: 0; width:100%;}
	#savings-calculator li a img {width:35%;}
}

@media only screen and  (max-width: 991px) {
	body {margin-bottom:auto;}
    .blog-sidebar {width: 100%!important; max-width: 100%!important; padding: 0!important; margin: 0; background: none; -webkit-order: 2; order: 2;flex: auto; }			
	.blog-main {width: 100%; padding: 0px!important; margin: 0; background: none; -webkit-order: 1; order: 1; flex:none!important; max-width: 100%; margin-top: 0px;}
	.blog-masthead {padding:10px 0 0 0; }
	.blog-masthead .container {/*padding: 30px 0px;*/}
	
	header {height:inherit;}
	video {width:auto; height:100%;}
	
	.navbar-custom { padding:0!important;}
	.navbar-logo {/*position: relative;*/ top:19px!important; width: 100%; text-align: center;}
	.navbar-logo img {margin:auto; width: 35%; max-width: 100% !important;}
	.navbar-top {top: -35px; position: relative;}
	.navbar-contacts {top:50px; width: 100%; display: inline-block;}
	.navbar-resizer {display: none; visibility: hidden; height: 0;}
	.navbar-contacts, .navbar-booking {display: none; visibility: hidden; height: 0;}
	.navbar-booking-mobile { display: block; visibility: visible; height: auto; padding: 0; position: fixed; top: 0px; width: 100%; height: 40px;} 	
	.custom-toggler { position: absolute!important; top: 43px!important; right: 20px;}
    
	.custom-toggler {/*position: absolute; top: 100px; right: 5px;*/}
	.navbar-custom .navbar-nav .nav-link {font-size:16px!important;}	
	.navbar-nav {background: rgba(255,255,255,0.95); position: relative; top: 29px;}
	.btco-hover-menu a, .navbar > li > a {text-align: center;}	
	.mr-auto, .mx-auto {right:inherit;  overflow-y: scroll; height: 500px;}
	.navbar-collapse {top: inherit !important; position: fixed; width: 100%; top: 30px; bottom: inherit; right: 0;}	
	.navbar-nav {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
		background: #fff;

	}
	.nav-link {text-align: center;}
	.dropdown-menu {display:block!important; text-align: center;position: initial!important; margin-left: 0!important;}
	
	.slide-img {visibility: hidden; display: none; height:0;}
	.slide-img-resp {visibility: visible; display: block; height:auto;}
	
	.carousel-item {/*height: 1145px;*/ /*height: 500px;*/ height:auto!important;}
	.carousel-item > img {width:100%; height: auto;/* right: 0!important; left:inherit!important; top:120px; */ bottom:0; text-align: center; margin: auto; left: 0; right: 0; top:0; position: relative;}
	.carousel-caption {width: 100%; /*padding: 20px 10px;*/ top: 13%; left:0; position: absolute; top:0px;}
	.carousel-caption-h1 {font-size: 40px; text-align: center; padding-bottom: 10px; }
	.carousel-caption-h2 {/*font-size: 18px;*/ text-align: center;}
	.carousel-caption-cta-dbl {text-align: center; margin-bottom: 40px;}
	.carousel-caption-cta-1, .carousel-caption-cta-2 {/*font-size: 18px; padding: 10px 20px;*/}
	.carousel-control-next-icon, .carousel-control-prev-icon {position: relative; top: 50px;}
	.carousel-indicators li {width: 10px; height: 10px;}
	.carousel-indicators {bottom: -5px;}
	.carousel-control-next-icon, .carousel-control-prev-icon {width: 20px; height: 20px;}
	.carousel-caption-cta {text-align: center; display: inline-flex;}		
	.carousel-caption-inside { width: 100%;padding: 10px; top:50%;}
	.carousel-caption-inner {width:100%; padding: 40px 5%;}
	.carousel-caption-cta {margin-top:0px; }
	.carousel-item .h-100 {height: auto!important; margin-left:0!important; display: block;}
	
	.1inside-page .carousel-item > img {width:auto; bottom: 0 !important; top:auto;}
	.inside-page .carousel-caption-h1 {text-align:left;}
	.inside-page .carousel-item > img {width:100%; height: auto; bottom:0; text-align: center; margin: auto; left: 0; right: 0; top: 120px; margin-bottom: 120px; position: relative; }
	
	.affix { height: 100px;}
	.affix .navbar-booking-mobile {/*top:-3px */}
	.affix .navbar-booking-mobile .btn-booking {font-size: 12px;}
	.affix .navbar-logo { top: 10px;}	
	.affix .navbar-logo img {height: 30px!important; width:auto!important;}
	.affix .navbar-contacts {top: 0px;}
	.affix .navbar-resizer {top: 20px;}
	.affix .custom-toggler {top: 32px; right:20px;}
	.affix .navbar-contacts a { font-size: 23px;}
	.affix .navbar-contacts a i {font-size: 18px;}	
	.affix .navbar-collapse {border:none!important;}
	
	.home-panel-cta .col-lg-4 {margin-bottom:40px; width: 80%; margin: auto;}
	
	.home-intro h2 {padding-top: 0;}
	.home-intro {padding: 40px 10px 40px 10px;}
	.img-doctor {display: none; visibility: hidden; height: 0;}
	.img-doctors {display: block; visibility: visible; height: auto;}
	
	.home-locations, .home-faqs, .home-askdoctor {text-align: center;}
	.home-locations .col-lg-1, .home-faqs .col-lg-1, .home-askdoctor .col-lg-1 {text-align: center; padding-bottom: 20px;}
	.home-faq-list li::before {position: relative; padding-right: 10px;	top: -2px;}
	
	/*.footer {height: 1200px;}*/
	.footer-logo {width:100%;}
	#footer-txt-bot {height:auto; padding-top: 0px;}
	.footerContactsWrapper {text-align: center;}
	#footer-social {text-align: center; margin-bottom: 20px;}
	#footer-social a {padding: 0 20px;}
	.footerContactsWrapper {padding-top:30px; /*margin-bottom: 35px;*/}
	.footerContactsWrapperImg {background-size: 50%;}
	.footerContacts .container-fluid .row {/*padding-bottom: 100px;*/}
	.footerContacts .container-fluid .row .col-lg-2 {margin-top: 10px;}
	.footer-menu-top-gap {padding-top: 10px;}
	#footer-social h2 {margin-top: 30px;}	
	.google-review {padding-top: 0px;}
	.google-review img {max-width: 80px;}
	
	.container .blog-post .btn-booking {text-align: center;}
	.pages-costs div {display:block; width:100%; margin:0;}
	.container .blog-post ul li::before, .ticks ul li::before {left: 17px;}
	
	.team-a {width:100%; padding-right: inherit;}
	.div-img {width:50%;}
	
	.card-columns {column-count: 2;}
	
	.mobile-contact-icon {display: none; visibility: hidden; height: 0;}
	
	.home-doctors {width:80%; margin:auto; }
	.home-doctors p {margin-left:0;}
	.home-doctors-video { -webkit-order: 2; order: 2;flex: auto; }
	.home-doctors-text { -webkit-order: 1; order: 1;flex: auto; }
	.home-doctors {text-align:center; padding:40px 0;}
	.home-doctors-video img {}
	
	.home-panel-cta {padding:40px 0;}
	.home-panel-cta-box:nth-child(2), .home-panel-cta-box:nth-child(3) {padding-top: 40px;}
	.home-panel-cta-box h2 {padding: 10px 15% 0 15%}
	
	.home-intro h1 {padding: 0 0 0px 0!important; margin: 0;}
	.home-intro-img {padding-top: 40px;}	
	.home-intro1 h1 {font-size:35px;}
	
	.home-locations {padding:40px 0;}
	.home-locations-div {width:80%; margin:auto;}
	.home-locations-state {width:100%; padding: 10px 0;}
	.parallax-img {background-position: 40% 40%}
	.parallaxParent {}
	
	.home-faqs {padding:40px 0 20px 0;}	
	.home-faqs-divider {border:none!important;}
	
	.home-askdoctor {padding:20px 0 40px 0; border-top: 1px solid #474747;}	
	
	.footer {height:auto; position:inherit;}
	.footerContactsWrapper {padding:40px 0;}
	
	.footer-menu-top, .footer-menu {display: none; visibility: hidden; height: 0;}
	#footer-txt-bot {position:relative; background-color: #dddddd;}
	#footer-social h2 {font-size:16px;}
	#footer-social a, #footer-txt a:active {font-size:20px;}
	
	.team-list-header-img img {width:100%;}
	
	.btn-cta-mobile {display:block; visibility:visible; height: auto;}
	.btn-cta-full {display:none; visibility: hidden; height: 0;}
	
	.panel-news-cta img {width:auto!important;}
	.div-cta-bottom .div-img-bottom {float:none; text-align: center;}
	.div-cta-bottom .div-cta-txt {float:none; text-align: center; padding-top: 20px;}
	.div-cta-bottom .div-img-bottom img {width:auto!important;}
	
	.cost-table .cost-table-heading {display: none; visibility: hidden; height: 0;}
	.cost-table .col-top { padding-top:20px!important; font-weight: 600;  border-top: 1px solid #dddddd!important;}
	.cost-table .col-bottom { border-bottom: 1px solid #dddddd!important; padding-bottom:20px!important;}
	.cost-table .row div { border:none; padding:10px 0;}
	
	.blue-box ul li::before {left: 50px !important;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For ipad portrait layouts only */	
	.home-intro h1 {font-size: 35px;}
	footer {height: auto!important;}	
	.navbar-logo {top:20px!important; position: relative;}
	
	.home-panel-cta-box-img {/*height:210px!important;*/}
	.home-panel-cta-inner {width:80%;}
	.home-panel-cta-box1 h3, .home-panel-cta-box2 h3, .home-panel-cta-box3 h3 { font-size: 20px; padding: 0 10px;}
	.home-panel-cta-box1 h2, .home-panel-cta-box2 h2, .home-panel-cta-box3 h2 { margin-top: 10px;}
	.btn-cta { margin: 20px 0;}		
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For ipad landscape layouts only */
	
	.navbar-logo {position: absolute!important; top:20px!important; left:10px!important;} 
	.navbar-logo img {width:50%;}	
	.navbar-collapse {bottom: 10px; right: 10px;}

	.affix .navbar-toggler {top:17px;}
	
	.carousel-caption-cta { display: inline-flex; padding:0; }

	.home-doctors {padding: 40px 0;}
	
	.home-doctors-video, .home-doctors-text {display: block; width:90%; flex:none; max-width: 90%; margin:auto;}
	.home-doctors-video div {width:100%; max-width: 100%}
	.home-doctors h2 {font-size:30px;}
	.home-doctors h2, .home-doctors p {margin-left:0;}
	
	.home-panel-cta {padding: 40px 5%;}
	.home-panel-cta-box h2 {font-size:20px;}
	
	.home-intro {padding: 40px 0;}
	.home-intro h1 {font-size:30px;}
	.home-intro-txt {font-size:16px;}
	
	.home-locations {padding: 40px 0;}
	.home-locations h2 {font-size:30px;}
	.home-locations-state, .home-locations-name a {font-size:20px;}
	.home-locations-div {width: 80%; margin:auto;}

	.home-faqs {padding: 40px 0;}
	.home-faqs h2 {font-size:30px;}
	
	.home-askdoctor {padding: 40px 0;}
	.home-askdoctor h2 {font-size:30px;}
	
	#footer-txt a, #footer-txt a:active, .footer-txt a, .footer-txt a:active {padding:0;}
	.footer-logo {width:100%;}
	
	.navbar-expand-lg .navbar-nav .nav-link { padding-left: 15px; padding-right: 15px; font-size: 16px;}
	
	.carousel-item { height: 700px;}
	.carousel-item > img {    max-height: 550px;}
	.carousel-caption {/*padding: 40px 20px 20px 20px;*/ bottom: auto!important; /*top: 20%!important;*/}
	.carousel-caption-h1 {font-size: 37px; text-align: center; padding-bottom: 10px; }
	.carousel-caption-h2 {font-size: 20px; text-align: center;}
	.carousel-caption-cta {text-align:center;}
	.carousel-caption-cta-dbl {text-align: center; margin-bottom: 40px;}
	.carousel-caption-cta-1, .carousel-caption-cta-2 {/*font-size: 18px;*/ padding: 10px 20px;}
	.carousel-caption {}
	video {width:auto; height:100%;}
	.btn-cta a { font-size: 14px; padding: 10px 50px;}
	
	/*
	footer {height: auto!important;} 
	.navbar-top {top:-20px!important;}
	.navbar-contacts {top:0;}
		
	.navbar-resizer {top: 10px!important;}
	.navbar-booking {top:0!important;}	
	.navbar-collapse {right:0; top:-8px;}
	.navbar-custom {padding: 0 10px;}
	.navbar-contacts {top:0; right:10px;}
	.navbar-contacts a {font-size: 25px;}
	.navbar-contacts a i { font-size: 20px;}
	
	.mr-auto, .mx-auto {right:0; top:20px;}
	
	
	.affix .navbar-logo {top:7px!important;}
	.affix .navbar-logo img {width:15%!important;}
	.affix .navbar-top {top:0!important;}
	.affix .navbar-booking {top: -30px!important;}
	.affix .navbar-resizer {top: -5px!important;}
	.affix .navbar-collapse {top: -25px;}
	.affix .navbar-booking {top: -8px!important; }
	.affix .btn-booking {font-size: 14px; padding: 1px 40px !important; }		
	.affix .mr-auto, .mx-auto {top:0px!important;}
	
	.home-panel-cta-inner {width: 85%;}
	
	
	
	
	.home-intro h2 {padding-top: 0;}
	.home-intro {padding: 40px 10px 0px 10px;}
	.img-doctor {display: none; visibility: hidden; height: 0; flex: none!important; width: 100%; max-width: 100%;}
	.home-intro .col-lg-3, .home-intro .col-lg-6 {flex: none!important; width: 100%; max-width: 100%;}
	.img-doctors {display: block; visibility: visible; height: auto;}
	
	footer {height: 880px!important;}
	.footerContactsWrapper {padding-top:30px; margin-bottom: 35px;}
	.footerContactsWrapperImg {background-size: 40%;}		
	*/
}

@media only screen and (max-width: 568px)and (orientation:landscape) {
	/* For iphone 5  landscape layouts only */
	.homePages .col-border {border:none;}
}

@media only screen and (min-width : 1025px) and (max-width : 1400px) {		
	/* Desktops and laptops */
	.carousel-caption {/*top:20%;*/}
}

/* Extra Break Points */
@media only screen and (min-device-width: 769px) and (max-width: 1900px) {	
}


@media only screen and (min-device-width: 769px) and (max-width: 1800px) {		
}

@media only screen and (min-device-width: 769px) and (max-width: 1750px) {
	.dropdown-menu {margin-left: 0px;}
	.navbar-expand-lg .navbar-nav .nav-link {padding-left: 15px; padding-right: 15px; /*font-size: 16px;*/}
	.btn-booking {font-size: 18px;}
	.navbar-contacts a {font-size: 25px;}
	.navbar-contacts a i {font-size: 20px;}
	.navbar-resizer {top: 15px;}	
	
	/*.carousel-caption {padding: 40px 20px 20px 20px; bottom: auto!important;}*/
	
	.home-panel-cta-box1 h2, .home-panel-cta-box2 h2, .home-panel-cta-box3 h2 {font-size: 12px;}
	.home-panel-cta-box1 h3, .home-panel-cta-box2 h3, .home-panel-cta-box3 h3 {font-size: 20px;}
	.btn-cta a {font-size: 14px; padding: 10px 50px;}
	
	.home-intro p {font-size:16px;}
	
	.footerContactsWrapperImg {background-size: 50%;}
}

@media only screen and (min-device-width: 769px) and (max-width: 1650px) {				
}

@media only screen and (min-device-width: 769px) and (max-width: 1550px) {			
	.navbar-top {top:0;}
	.navbar-contacts {/*top:0;*/}
	.navbar-resizer {top: 3px;}
	.navbar-booking {/*position: absolute; top: -40px; right: 0;*/}	
	.navbar-collapse {/*right:0; top:-8px;*/}
	.navbar-custom {padding: 0 10px;}
	.mr-auto, .mx-auto {right:0;}
	.navbar-logo {/*position:relative; top:-40px;*/}
	.navbar-logo img {max-width: 200px; height: auto !important;}	
	
	._affix .navbar-collapse {top: -25px;}	
	._affix .btn-booking {font-size: 14px; }		
	
	.carousel-caption {/*top:13%;*/}
	.carousel-caption-cta {padding-top:0px;}
	.carousel-caption-h1 {padding-bottom:10px;}
	.home-panel-cta-inner {width: 85%;}
	
	.footerContactsWrapper {background-size: 50%; padding-top:30px; margin-bottom: 35px;}			
}

@media only screen and (min-device-width: 769px) and (max-width: 1400px) {						
}


@media only screen and (min-device-width: 769px) and (max-width: 1200px) {
	.navbar-expand-lg .navbar-nav .nav-link {font-size: 15px;}
}

@media only screen and (min-device-width: 769px) and (max-width: 900px) {    
	.carousel-caption-h2 { visibility: hidden!important; display: none!important; height:0!important;}	
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Chrome, if Chrome rule needed */
   
    /* Safari 5+ ONLY */    
	::i-block-chrome, #nav { }	
}