/* CSS Document */
.lasik-guide {padding:0!important;}

/* Progress Bar */
.lasik-guide-progressbar {width:100%; height:15px!important; position:fixed; top: 180px; left:0; z-index: 100; }
.lasik-guide-progressbar .bar {width:12.5%; float:left;}
.affix .lasik-guide-progressbar {top: 80px!important;}
.lasik-guide-progressbar .complete {background:#D83D07; height:100%;}

/* Menu */
.lasik-guide-menu {position:fixed; bottom: 0px; left:0; z-index: 1; width: 300px; background-color: rgba(255,255,255,0.70); padding:0; display: none; top: 180px; overflow-y: auto;}
.affix .lasik-guide-menu {top:80px;}
.lasik-guide-menu ul {padding:20px 30px 0 30px;}
.lasik-guide-menu ul li {list-style-type: none; border-bottom: 1px solid #d1d1d1; display: inline-flex; width: 100%;}
.lasik-guide-menu ul li a {color:#666666; font-size: 17px; font-weight: 600;}
.lasik-guide-menu ul li a:hover {color:#00a1bc!important;}
.lasik-guide-menu ul li .active {color:#00a1bc!important;}
	
.lasik-guide-menu .btn-download {padding: 10px 20px; background-color: #00a1bc; display: inline-block; margin: 10px;}
.lasik-guide-menu .btn-download a {color:#fff; font-weight: 600; font-size: 19px; text-align: left; display: inline-block;}
.lasik-guide-menu .btn-download:hover {background: #fff!important;}
.lasik-guide-menu .btn-download:hover > a {color: #00a1bc!important;}

.lasik-guide-menu #share {border:none; padding: 10px 30px 20px 30px;}
.lasik-guide-menu #share .share-hdr {float:left; color: #666666; font-size: 17px; font-weight: 600; padding-right:20px; padding-top: 4px; }
.lasik-guide-menu #share a { padding: 0 10px 0 0;}
.lasik-guide-menu .a2a_s__default {height:25px!important; width:25px!important;}

/* Download Guide - Mobile */
.btn-download-mobile { visibility: hidden; display: none; height: 0; padding: 10px 20px; background-color: #00a1bc; margin: 10px; text-align: center;}
.btn-download-mobile a {color:#fff; font-weight: 600; font-size: 19px; text-align: center; display: inline-block;}
.btn-download-mobile:hover {background: #fff!important;}
.btn-download-mobile:hover > a {color: #00a1bc!important;}

/* Carousel */
.lasik-guide-carousel {z-index: 0;}
.lasik-guide-carousel .carousel-item {background: #fff!important; height:900px;}
.lasik-guide-carousel .carousel-item > img {right:0!important; left: auto; height:750px; top: 130px;}
.lasik-guide-carousel .carousel-caption {width:100%;}
.lasik-guide-carousel .carousel-caption-inner {padding-top: 80px; width:60%;}
.lasik-guide-carousel .carousel-caption-h1 {text-align:left; width: 60%; margin: auto; position: relative; padding-bottom: 20px;}
.lasik-guide-carousel .carousel-caption-txt {text-align:left; width: 60%; margin: auto; position: relative;}
.lasik-guide-carousel .carousel-caption-txt p {color:#000; font-weight: 500;  font-size: 19px; position: relative; padding-bottom: 20px;}
.lasik-guide-carousel .btn-download {padding: 20px 50px; background-color: #00a1bc; display: inline-block;}
.lasik-guide-carousel .btn-download a {color:#fff; font-weight: 600; font-size: 19px; text-align: center; display: inline-block;}
.lasik-guide-carousel .btn-download:hover {background: #fff!important;}
.lasik-guide-carousel .btn-download:hover > a {color: #00a1bc!important;}

/* Overview */
.lasik-guide-overview .carousel-item {background: #fff!important; min-height: 875px;}
.lasik-guide-overview .carousel-item > img {right:0!important; left: auto; top:0;}
.lasik-guide-overview .carousel-caption {width:100%; padding-top:10px;}
.lasik-guide-overview .carousel-caption-inner {width:75%;}
.lasik-guide-overview .carousel-caption-h1 {text-align:left; width: 50%; margin: auto; position: relative; color:#00a1bc; padding-bottom: 20px; background-color: rgba(255,255,255,0.70); z-index: 1;}
.lasik-guide-overview .carousel-caption-txt {text-align:left; width: 50%; margin: auto; position: relative; background-color: rgba(255,255,255,0.70); z-index: 1;}
.lasik-guide-overview .carousel-caption-txt p {color:#000; font-weight: 500;  font-size: 19px; position: relative;}


/* Page Headers */
.page-header {min-height:740px; padding: 40px 20px;}
.page-header img {position: relative; right:0;}
.page-header-txt {float:left; max-width: 50%; position: absolute; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%); color:#fff; font-size: 40px; font-weight: 600; padding-bottom: 15px; border-bottom: 5px solid #D83D07;}
.page-header-img {float:right; width: 50%; text-align: right; position: absolute; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%); right:0;}

.page-header3 .page-header {min-height:auto;}
.page-header-txt3 {color:#00a1bc; font-weight: 600; font-size: 40px; text-align: right; position: relative; margin: 20px 0 0px 40px; padding-bottom: 20px; border:none; max-width: 100%; bottom: -40px;}
.page-header-txt3:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 5px;
    bottom: 0;
    left: 25%;
    border-bottom: 5px solid #ff6903;
}
.page-header3 .page-header-background .container {padding:0!important;}

.page-header-background .container {padding:150px 0;}

.page-header4, .page-header5, .page-header6, .page-header7, .page-header8, .page-header9, .page-header10 {background: linear-gradient(90deg, rgba(255,105,3,1) 0%, rgba(255,142,6,1) 100%, rgba(255,142,6,1) 100%);}

.page-content-background img {width:100%;}
.page-header-background5, .page-header-background10 { background-image: url(../../images/site/10-9-commonly-asked-lasik-questions.png); background-repeat: no-repeat; background-size:cover; background-position: center;}
.1page-header-background7 { background-image: url(../../images/site/7.png); background-repeat: no-repeat; background-size:cover; background-position: center;}
.1page-header-background8, .1page-header-background9 { background-image: url(../../images/site/20.png); background-repeat: no-repeat; background-size:cover; background-position: center;}

/* Page Content */
.page-content {}

.page-content blockquote {border-left: 2px solid #5a5a5a!important; margin:30px 0;}
.page-content blockquote p {color:#5a5a5a!important; font-weight: 600; }

.page-content ul li::before {color:#BFBFBF!important;}
.page-content ul li b, strong {color: #ff6903; }

.page-content h2 {color:#ff6903!important; font-size: 40px!important; font-weight: 600!important; position: relative; padding-bottom: 10px !important; margin-bottom: 40px!important; margin-top: 60px !important;}
.page-content h2:before{
    content: "";
    position: absolute;
    width: 20%;
    height: 2px;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid #ff6903;
}

.page-content h3 {color:#00a1bc!important; font-weight: 600!important; font-size: 30px!important; text-align: center; position: relative; margin: 80px 0 40px 0; padding-bottom: 20px!important; border:none; max-width: 100%;}
.page-content h3:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 5px;
    bottom: 0;
    left: 25%;
    border-bottom: 5px solid #ff6903;
}

.page-content .btn-faqs {text-align: center;}
.page-content .btn-faqs div {padding: 40px 80px!important; background-color: #fff; display: inline-block; border:1px solid #ff6903; margin-top:40px; margin-bottom:40px; text-transform: uppercase;}
.page-content .btn-faqs div a {color:#ff6903!important; font-weight: 600!important; font-size: 25px!important; text-align: center; display: inline-block;}
.page-content .btn-faqs div:hover { background-color: #ff6903!important; color:#fff!important;}
.page-content .btn-faqs div:hover > a{ color:#fff!important;}

.page-content3 {padding-bottom: 30px;}
.page-content6 {padding-bottom: 0!important;}
.page-content6 .page-content-background { position: relative; top: -110px; margin-bottom: -110px;}	

.page-content7 h2, .page-content10 h2 {margin-bottom: 0px !important; margin-top: 0px !important; font-size:24px!important;}
.page-content7 h2::before, .page-content10 h2::before {border:none!important;}

/* LASIK At a Glance */
.lasik-glance {background: linear-gradient(90deg, rgba(0,188,228,1) 0%, rgba(139,231,252,1) 100%, rgba(139,231,252,1) 100%); background-color: rgba(0, 0, 0, 0); color:#fff; text-align: center; padding: 40px 40px 120px 40px; margin: 80px 0;}
.lasik-glance h2 {text-align:center!important; color:#fff!important; border-bottom: 4px solid #fff;}
.lasik-glance h2:before {border:none!important;}
.lasik-glance-num {font-size:30px; font-weight:500; padding: 20px 0;}

/* LASIK Surgery */
.lasik-surgery {text-align: center;}
.lasik-surgery h2 {background: linear-gradient(90deg, rgba(0,188,228,1) 0%, rgba(139,231,252,1) 100%, rgba(139,231,252,1) 100%); color:#fff!important; text-align: center;  border-radius: 50%; border:none!important; height:200px; width:100%;}
.lasik-surgery h2:before {border:none!important;}
.lasik-surgery .col-lg-6 img {padding-bottom: 20px; width: 60% !important; height: auto!important;}

/* LASIK Safe */
.lasik-safe {text-align:center; padding:40px 0;}
.lasik-safe .col-lg-4 div {padding:20px;}
.lasik-safe .col-lg-4 {border-left: 1px solid #ff6903;}
.lasik-safe .col-lg-4:first-child {border:none;}

/* Checklist */
.checklist {border: 1px solid #DDDDDD; padding: 50px 70px; margin: 40px 0;}
.checklist h3 {text-align:left; color:#ff6903!important; margin: 0!important; font-size:20px!important;}
.checklist h3::before {border:none;}
.checklist ul li {padding-left:30px!important;margin-bottom: 30px!important;}
.checklist ul li::before {left:110px!important; content: "\f14a"!important; color:#DDDDDD!important; font-size: 20px !important;}

/* LASIK Procedure */
.lasik-procedure {color:#fff!important; }
.lasik-procedure h2 {color:#fff!important; font-size: 18px!important; margin:0!important; margin-bottom: 20px!important;}
.lasik-procedure h2::before {border-bottom: 2px solid #fff;}
.lasik-procedure .col-lg-4 {padding:0!important; padding-bottom: 2px !important; display: flex;}
.lasik-procedure .col-lg-4 div {height:100%; margin:2px; padding: 5% 10%; font-weight: 500; }
.lasik-procedure1 {background: rgba(0,114,140,1.00);}
.lasik-procedure2 {background: rgba(0,114,140,0.90);}
.lasik-procedure3 {background: rgba(0,114,140,0.80);}
.lasik-procedure4 {background: rgba(0,114,140,0.70);}
.lasik-procedure5 {background: rgba(0,114,140,0.60);}
.lasik-procedure6 {background: rgba(0,114,140,0.50);}

/* LASIK Surgeon */
.lasik-surgeon {text-align:center; padding:40px 0;}
.lasik-surgeon .col-lg-4 div {padding:0 20px; font-size: 17px; font-weight: 500;}
.lasik-surgeon .col-lg-4 {border-left: 1px solid #ff6903;}
.lasik-surgeon .col-lg-4:first-child {border:none;}
.lasik-surgeon .col-lg-4 img {max-width: 30%;}

.lasik-surgeon h2 {margin:10px 0 0 0!important; text-transform: uppercase; font-size: 20px!important; padding-bottom: 0!important;}
.lasik-surgeon h2::before {border:none;}

/* LASIK End */
.lasik-end {padding-top:50px; text-align: center;}
.lasik-end h2 {text-align: center; padding-top:50px!important; color: #00a1bc !important; font-size:60px!important;}
.lasik-end h2::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 5px;
    top: 0;
    left: 25%;
    border-bottom: 5px solid #ff6903!important;
}
.lasik-end h3 {margin:0!important;}
.lasik-end h3::before {border:none;}

.lasik-end .btn-download {padding: 20px 50px; background-color: #fff;  border: 2px solid #ff6903; }
.lasik-end .btn-download a {color:#ff6903!important; font-weight: 600; font-size: 25px!important; text-align: center; display: inline-block;}
.lasik-end .btn-download:hover {background: #ff6903!important;}
.lasik-end .btn-download:hover > a {color: #fff!important; font-size: 25px!important;}

/* Modal */
#modalDownload {background-color: rgba(0, 0, 0, 0.7)}
#modalDownload .container {max-width:100%;}
#modalDownload .modal-dialog {max-width:60%;}
#modalDownload .modal-header {background-color: #fff;}
#modalDownload .modal-content {background-color: transparent !important; border:none!important; position: absolute;}
#modalDownload .modal-body {background:#fff;}
#modalDownload .modal-header-content-header1 {font-size: 42px; font-weight: 600!important; text-transform: inherit!important; padding-top: 30px; width: 100%;}
#modalDownload .modal-header-content-header2 {font-size: 26px; font-weight: 600!important; text-transform: inherit!important; padding-top: 10px;}
#modalDownload .modal-header-content-p {font-size: 14px; font-weight: 600; line-height: 150%; text-transform: inherit!important; color:#515151; padding-top:10px;}
#modalDownload .modal-header-content-header-padding {padding-left:0;}
#modalDownload .modal-header-content-header {background:#fff!important; text-transform: inherit!important;}
#modalDownload .modal-body {padding: 0 25px; /*height: 100%;*/}
#modalDownload iframe {width:100%!important; height: unset}
#modalDownload .col-lg-8 {/*overflow: hidden;*/     background: #fff;}
#modalDownload .modal-content-img-inner-img {position: relative; height:110%;}

#modalDownload .modal-content-inner {width:100%; display: flex; flex-direction: column;}
#modalDownload .modal-content-img {width:100%; height:100%; float:left; }
#modalDownload .modal-content-img img {width:100%; position: relative; z-index: 2; height: 110%;}
#modalDownload .modal-content-img-inner {height:100%; width:100%; position: absolute; z-index: 1; background: linear-gradient(90deg, rgba(255,105,3,1) 0%, rgba(255,142,6,1) 100%, rgba(255,142,6,1) 100%); background-color: rgba(0, 0, 0, 0);
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#modalDownload .modal-content-txt {width:100%; background: #fff; position: relative; height: 100%;}

#modalDownload .modal-btn {position: absolute; top: -25px; right: -15px; z-index: 3 }
#modalDownload .guide-popup-img {visibility: visible; display: block; height:auto;}
#modalDownload .guide-popup-img-resp {visibility: hidden; display: none; height:0;}


.div-overlay {position: relative; background: linear-gradient(90deg, rgba(255,105,3,1) 0%, rgba(255,142,6,1) 100%, rgba(255,142,6,1) 100%); background-color: rgba(0, 0, 0, 0); height:100%;}
.div-overlay-top {position: relative; z-index:2; top:-30px;}
.div-overlay-top img {width:100%;}

/* Footer */
.footerContacts {padding-left:300px;}

/**************************
RESPONSIVE
**************************/


@media only screen and  (max-width: 991px) {
	.lasik-guide-menu {visibility: hidden; display: none; height: 0;}
	
	.page-content .blog-post { padding: 20px!important;}
	
	.lasik-guide-carousel .carousel-item {/*height: 857px!important;*/}
	.lasik-guide-carousel .carousel-item > img { height:auto; width: 100%; top: 130px;}
	
	.lasik-guide-carousel .carousel-caption {position: relative!important; padding-top: 140px!important; background: none!important;}
	.lasik-guide-carousel .carousel-caption-inner {width:100%; padding: 20px 5%; /*bottom: 0; position: absolute;*/ /*background-color: rgba(255,255,255,0.70);*/}
	.lasik-guide-carousel .carousel-caption-h1 {width:100%!important; text-align: center; color:#00a1bc; font-size: 30px;}
	.lasik-guide-carousel .carousel-caption-txt {width:100%!important; text-align: center;}
	
	.lasik-guide-overview .carousel-caption {position: relative;}
	.lasik-guide-overview .carousel-item {min-height: 500px!important; height:auto!important;}
    .lasik-guide-overview .carousel-item > img { top:auto; bottom:0; position: absolute!important;}
	.lasik-guide-overview .carousel-caption-inner {width:100%; padding: 40px 5%;}
	.lasik-guide-overview .carousel-caption-h1 {width:100%; font-size: 30px;}
	.lasik-guide-overview .carousel-caption-txt {width:100%!important; margin:inherit; padding: 10px 20px; }
	
	.page-header-txt3 {text-align: left; font-size: 30px; margin-left:0; padding-top: 20px; }		
	
	.page-header {padding:0 30px; min-height: auto;}
	.page-header-txt {float:none; display: block; width:95%; text-align: center; position: inherit; max-width: 95%; margin: auto; transform:none; -ms-transform:none; font-size:30px;}
	.page-header-img {float:none; display: block; width:95%; text-align: center; max-width: 100%; margin: auto; padding-top: 50px; position: inherit; transform:none; -ms-transform:none;}
	.page-header-img img {max-width:50%;}
	
	.page-content h2 {font-size:30px!important; margin-bottom: 10px!important; margin-top:20px!important;}
	.page-content h3 { margin-top: 30px!important;}

	.checklist {padding: 20px;}
	.checklist ul li::before {left: 50px!important;}
	.checklist h3 {margin-top:10px!important;}
		
    .lasik-surgery .col-lg-4 img {padding-top: 40px;}
	.lasik-glance {margin:30px 0!important;}
	.lasik-glance .col-lg-3 {padding-bottom: 40px; }
	.lasik-safe .col-lg-4 {border:none; padding-top: 40px; }
	.lasik-surgeon .col-lg-4 {border:none; padding-top: 40px; }
	.lasik-surgeon {padding-top:0;}
	.lasik-surgeon h2 {font-size:20px!important;}
	
	.page-content7 h2, .page-content10 h2 {font-size:24px!important;}
	.lasik-end h2 {font-size:30px!important;}
	
	.footerContacts {padding-left:0px!important;}
	
	#modalDownload .modal-dialog {max-width:80%;}
	#modalDownload .div-overlay-top {text-align: center; display: flex; justify-content: center;}
	#modalDownload .div-overlay-top img {max-height: 300px; width:auto;}
	#modalDownload .col-lg-8 {overflow: visible;}
	#modalDownload .modal-btn {top: -325px;}
	#modalDownload .guide-popup-img {visibility: hidden; display: none; height:0;}
    #modalDownload .guide-popup-img-resp {visibility: visible; display: block; height:auto;}
	#modalDownload .div-overlay-top {top:0;}
}

@media screen and (max-width: 480px) {	
	.lasik-guide-carousel .carousel-caption {padding-top: 100px!important;}
	.lasik-guide-carousel .carousel-item {/*height: 600px!important;*/}
	.lasik-guide-carousel .carousel-item > img {/*height: 500px!important;*/ top:70px;}
	.carousel-caption-inner {}
	.lasik-guide-overview .carousel-caption {position: relative;}
	.lasik-guide-overview .carousel-caption-h1 {padding: 10px 20px;}
	.lasik-guide-overview .carousel-item > img { top:auto; bottom:0!important; position: absolute!important;}
	.lasik-guide-carousel .btn-download {padding: 10px 50px;}
	
	.btn-download-mobile { visibility: visible; display: inline-block; height: auto; position: fixed; z-index: 1000; bottom: 0; width:95%; }
	
	.lasik-guide-carousel .carousel-caption-txt p, .lasik-guide-overview .carousel-caption-txt p {font-size:17px;}
	
	#modal-Download {padding-right:0!important;}
	#modalDownload .modal-dialog {max-width:100%!important;}
	#modalDownload .div-overlay-top {top:0px;}
	#modalDownload .modal-header-content-header1 {padding-top:0!important; font-size:30px; text-align: center;}
	#modalDownload .modal-header-content-header2 {font-size:16px; text-align: center;}
	#modalDownload .div-overlay-top img { max-height: 200px!important;}
	#modalDownload .modal-header-content-p {display: none!important; visibility: hidden!important; height: 0!important;}	
	#modalDownload .modal-btn {top: -204px!important; right: -15px!important;}	
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For ipad portrait layouts only */	
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For ipad landscape layouts only */
    .lasik-guide-menu {visibility: hidden; display: none; height: 0;}
    .lasik-guide-carousel .carousel-caption-inner {padding-top:0;}	
    .lasik-guide-carousel .carousel-caption {left:0;}
    .lasik-guide-carousel .carousel-caption-h1 {font-size:28px!important;}
    .lasik-guide-carousel .carousel-caption-txt p {font-size:17px;}
    .lasik-guide-carousel .carousel-caption-txt p {padding-bottom:0;}
    .lasik-guide-carousel .carousel-item {height:600px!important;}
	.lasik-guide-carousel .btn-download {padding: 15px 50px;}
	.lasik-guide-overview .carousel-caption-h1 {width:80%!important; font-size:28px!important;}
	.lasik-guide-overview .carousel-caption-txt {width:80%!important;}
	.lasik-guide-overview .carousel-caption-txt p {padding:5px;}
	.lasik-guide-overview .carousel-caption {left:0;}
	.lasik-guide-overview .carousel-item > img {max-height:100%;}
	.page-header-txt3 {margin-left:0;}
	.page-header {min-height:150px;}
	.page-header img {max-height:300px;}

}

/* Extra Break Points */
@media only screen and (min-device-width: 769px) and (max-width: 1500px) {	
	.lasik-guide-carousel .carousel-caption-inner {width:50%;}
	.lasik-guide-carousel .carousel-caption-h1 {width:70%;}
	.lasik-guide-carousel .carousel-caption-txt {width:70%;}
	
	.lasik-guide-menu {width:200px;}
	.lasik-guide-menu ul {padding: 20px 10px 0 10px;}
	.lasik-guide-menu ul li a {font-size:14px;}
	.lasik-guide-menu .btn-download a {font-size:16px; padding: 10px 5px;}
	.lasik-guide-menu #share {padding: 0px 10px 20px 10px;}
	.lasik-guide-menu #share .share-hdr {width:100%; padding-bottom: 10px; font-size:14px;}
	
	.footerContacts {padding-left:200px;}
	
	#modalDownload .modal-dialog {max-width:95%;}
	#modalDownload .modal-header-content-header1 {padding-top:0;}
	#modalDownload .modal-header-content-header2 {/*font-size:16px;*/}
	#modalDownload .modal-header-content-p {/*font-size:12px;*/}
}

@media only screen and (min-device-width: 769px) and (max-width: 1300px) {	
	._lasik-guide-menu {visibility: hidden; display: none; height: 0;}
}

