@font-face {
	font-family: 'gotham-medium';
	src: url("fonts/Gotham_Medium.otf") format("opentype");
}

@font-face {
	font-family: 'gotham-bold';
	src: url("fonts/Gotham_Bold_Regular.ttf") format("truetype");
}

@font-face {
	font-family: 'gotham-xlight';
	src: url("fonts/Gotham-XLight.otf") format("opentype");
}

@font-face {
	font-family: 'gotham-book';
	src: url("fonts/GOTHAMBOOK.TTF") format("truetype");
}

body {
	font: normal 13px/18px Verdana, Arial, Helvetica, sans-serif;
	font-family: 'gotham-book' !important;
}

.blog-header{
	margin-top: 40px;
}

.progress-circles{
	margin-top: 15px;
}

.progress-circles img{
	margin-right: 3px;
}

.test-container{
	text-align: center;
	margin-top: 15px;
}

.text-box{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	height: 32px;
}

.app-tick{
	position: absolute;
	width: 37px;
	height: 38px;
	left: 230px !important;
	top:33px;
	display: none;
}

.button, .hs-button {
	font-size: 14px !important;
	color: #fff;
	font-family: 'gotham-bold';
	background-color:#6ebd44;
	background-repeat: repeat-x;
	background-position: center;
	border: 1px solid #6ebd44;
	height: 30px;
	width: 130px;
	border-radius: 0px !important;
	/*-webkit-border-radius: 3px;
    border-radius: 3px;*/
}

.button-blue {
	background-color: #0098d0;
	border-color: #0098d0;
}

#ask-the-doctor{
	margin-top: 15px;
}

.ask-the-doctor-band{
	position: relative;
	background-color: #eaeaea;
	height: 115px;
	margin-top: 30px;
}

.atd-text-container{
	margin-top:15px !important;
	font-weight: bold;
	width: 400px;
	text-align: center;
}

.atd-image-container{
	position: absolute;
	width: 136px;
	height: 115px;
	right: 30px;
}

#ask-the-doctor-container{
	position: absolute;
	display: none;
	width: 500px;
	height: 400px;
	bottom: 55px;
	border: 2px solid black;
	background-color: #fff;
	text-align: center;
}

#atd-close{
	width: 60px;
	height: 20px;
	color: #fff;
	background-color: #000;
	padding-left: 3px;
	position: absolute;
	top: -20px;
	left: -2px;
	cursor: pointer;
}

.hbspt-form{
	width: 300px;
	text-align: left !important;
	margin-left: 110px;
	margin-top:15px;
}

.email-result .hbspt-form{
	width: 275px;
	margin: auto !important;
}

label{
	margin:0px;
}

.hs-input{
	padding: 5px;
	width: 270px;
	height: 29px;
	margin-bottom: 5px;
}

textarea{
	height: 42px !important;
}

.hs-button{
	height: 30px !important;
	width: 130px !important;
	border-radius: 0px !important;
	font-family: 'gotham-medium' !important;
	margin-top: 15px;
	margin-left: 75px;
}

.hs-error-msgs{
	font-size: 12px;
	color: #cc0000;
}

.hs_recaptcha{
	transform: scale(0.50);
	position: absolute !important;
	top: 347px;
	left: 302px;
}

.email-result .hs_recaptcha{
	position: absolute !important;
	left: -50px;
	bottom: 0px;
}

.hbspt-form ul{
	margin:0;
	padding:0;
	list-style-type:none;
}


#step1text {
	font-family: 'gotham-medium';
	font-size: 19px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 5px;
}
#step2text {
	font-family: 'gotham-medium';
	font-size: 17px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	color: #000;
	letter-spacing:5px;
}
#step3text {
	font-family: 'gotham-medium';
	font-size: 14.5px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	color: #000;
	letter-spacing:5px;
}
#step4text {
	font-family: 'gotham-medium';
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	color: #000;
	letter-spacing:5px;
}
#step5text {
	font-family: 'gotham-medium';
	font-size: 9px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	color: #000;
	letter-spacing:5px;
}
#step6text {
	font-family: 'gotham-medium';
	font-size: 7px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	color: #000;
	letter-spacing:5px;
}

.blog-footer{
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

a, a:active, a:visited, a:hover{color:#0098d0;	}

a{
	color:#0098d0;
}

h2 {
	font-family: 'gotham-medium';
	color: #0098d0;
	font-size: 14px;
}

.tick-big{
	margin-top: 10px;
	margin-bottom: 15px;
}

.cong-test{
	margin-bottom: 20px;
}

.result-button{
	display:inline-block;
	font-family: 'gotham-bold';
	font-size: 14px !important;
	color: #fff !important;
	background-color: #6ebd44 !important;
	border: none !important;
	height: 30px !important;
	width: 140px !important;
	border-radius: 0px !important;
	padding-top: 5px;
	text-align: center !important;
}

.but-left{
	text-align: right;
}

.but-right{
	text-align: left;
}